.btn {
  font-size: 16px;
  font-weight: 700;
  border-radius: rem(30px);
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: none;
  line-height: 1;
  color: $white;
  white-space: nowrap;
  background-clip: padding-box;
  &--lg{
    padding: rem(19px 50px);
  }
  &--sm {
    padding: rem(9px 18px);
  }
  &.btn-silver{
    background:rgba(255,255,255,0.50);
    &:hover{
      background: rgba(255,255,255,0.3);
    }
  }
  &.btn-silver-2 {
    background-color: rgba(40, 38, 39, 0.4);
    &:hover {
      background: rgba(40, 38, 39, 0.6);
  }
  }
  &.btn-violet{
    background: $violet-gradient;
    background-clip: padding-box;
    box-shadow:0 10px 15px 0 rgba(226,82,189,0.30);
    &:hover{
      background: $violet;
      box-shadow: none;
    }
  }
  &.btn-orange {
    background: $orange-gradient;
    background-clip: padding-box;
    box-shadow: 0 10px 15px rgba(255, 202, 4, 0.2);
    &:hover{
      background: $orange;
      box-shadow: none;
    }
  }
}

.btn-white {
  background: $white;
  background-clip: padding-box;
  color: $black;
  box-shadow:0 10px 15px 0 rgba(208,208,208,0.30);
  &:hover{
    box-shadow: none;
  }
}

.row-btn {

}