
textarea, input{
  &.form-control{
    padding: rem(14px 20px);
    background-color: $white;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.20);
    border-radius: 30px;
    font-size: rem(14px);
    border: 1px solid transparent;
    transition: border 0.2s linear;
    -webkit-appearance: none;
    &:focus {
      border: 1px solid $grey;
    }
    &.is-invalid {
      border: 1px solid $red;
      .invalid-feedback{
        display: block;
      }
    }
  }
}
.invalid-feedback{
  display: none;
}

textarea{
  font-size: rem(14px);
  font-family: $gotham;
  &.form-control{
    height: 135px;
    border-radius: 23px;
  }
}

.form-group {
  margin-bottom: rem(20px);
  &__label {
    display: block;
    font-size: rem(13px);
    margin-bottom: rem(8px);
    padding-left: rem(20px);
    text-align: left;
  }
}

.form-control-place {
  padding: rem(14px 20px);
  background-color: $white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.20);
  border-radius: 30px;
  font-size: rem(14px);
  width: rem(108px);
  margin-right: 10px;
  &__number {
    margin-right: 1px;
  }
}

// custom input type radio
.radio-group {
  margin: rem(15px 0) ;
}

input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked {
    & + .radio-text {
      &:after {
        opacity: 1;
      }
      &:before {
        border: 1px solid #a020bc;
        box-shadow: none;
      }
    }
  }
}
.radio-text {
  position: relative;
  padding: rem(0 0 0 35px);
  cursor: pointer;
  font-size: rem(18px);
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    border: 1px solid #d8d8d8;
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.10);
    width: rem(18px);
    height: rem(18px);
    border-radius: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    transition: .2s;
    background: linear-gradient(-90deg, #9d1ebb 0%, #e756bd 100%);
    background-clip: border-box;
    width: rem(12px);
    height: rem(12px);
    border-radius: 100%;
  }
}

// custom input type checkbox
.checkbox-group {
  margin: rem(15px 0) ;
}
input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked {
    & + .checkbox-text {
      &:after {
        opacity: 1;
      }
      &:before {
        border: 1px solid #a020bc;
        background: $violet-gradient;
        background-clip: border-box;
        box-shadow: none;
      }
    }
  }
}
.checkbox-text {
  position: relative;
  padding: rem(0 0 0 35px);
  cursor: pointer;
  font-weight: 400;
  font-size: rem(14px);
  display: inline-flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    background: $white;
    border: 1px solid #d8d8d8;
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.10);
    width: rem(18px);
    height: rem(18px);
    border-radius: 3px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    opacity: 0;
    transition: .2s;
    display: block;
    background-image: url("../images/svg/apply.svg");
    background-clip: border-box;
    background-repeat: no-repeat;
    width: rem(12px);
    height: rem(9px);
    border-radius: 100%;
  }
}

//quantity-nav

.quantity-nav {

}

.quantity-button{
  width: 35px;
  height: 35px;
  background-color: #e2e2e2;
  border-radius: 50%;
  cursor: pointer;
  color: $black;
  font-weight: 900;
  font-size: 16px;
  margin: rem(2px);
  transition: background-color 0.2s linear;
  &:hover {
    background-color: rgba($black, 0.4);
  }
  &.disabled {
    background-color: #f2f2f2;
    opacity: .6;
    pointer-events: none;
    cursor: default;
  }
}

// custom select

select {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: $white;
  height: 46px;
  font-size: rem(14px);
  padding: rem(15px 30px 15px 15px);
  border:  none;
  -webkit-appearance: none;
}

.custom-select {
  position: relative;
  select {
    display: none; /*hide original SELECT element:*/
  }
  &.custom-arrow{
    &:after {
      content: '';
      position: absolute;
      color: $black;
      background-image: url("../images/svg/down-arrow.svg");
      width: 30px;
      height: 12px;
      background-color: $white;
      background-size: 12px;
      background-repeat: no-repeat;
      font-weight: 700;
      line-height: normal;
      font-size: rem(16px);
      top: 50%;
      right: 3px;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }
}

.select-selected {
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: 46px;
  line-height: 46px;
  font-size: rem(14px);
  padding: rem(0 40px 0 20px);
  cursor: pointer;
  &.select-arrow-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &:after {
      transform: rotate(180deg);
      top: 37%;
    }
  }
}

/*style the arrow inside the select element:*/
.select-selected:after {
  content: '';
  position: absolute;
  color: $black;
  background-image: url("../images/svg/down-arrow.svg");
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 700;
  line-height: normal;
  font-size: rem(16px);
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}



/*style the items (options), including the selected item:*/
.select-items div{
  color: $black;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
  font-size: rem(14px);
}


/*style items (options):*/
.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 99;
  border-top: 1px solid $light-grey;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 240px;
  overflow-y: scroll;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba($grey, 0.2);
}