//
//.modal {
//  background-color: $white;
//  position: fixed;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  z-index: 1050;
//  //display: none;
//  overflow: hidden;
//  outline: 0;
//
//  .modal-open {
//    overflow-x: hidden;
//    overflow-y: auto;
//  }
//  &.show {
//
//  }
//  &-content {
//    padding: rem(30px 100px 66px 100px);
//    box-shadow: 0 10px 15px rgba(241, 241, 241, 0.3);
//    border-radius: 12px;
//    width: rem(560px);
//    margin: auto;
//    position: relative;
//  }
//  &-header {
//      .close {
//        font-size: rem(36px);
//        position: absolute;
//        right: 20px;
//        top: 15px;
//        cursor: pointer;
//        color: #cdcdcd;
//        line-height: rem(20px);
//        transition: color 0.2s linear;
//        &:hover {
//          color: $grey;
//        }
//      }
//  }
//  &-title{
//    margin-bottom: rem(20px);
//  }
//  &-description {
//    font-size: rem(14px);
//    width: 80%;
//    margin: rem(0 auto 20px auto);
//  }
//  &-img{
//    text-align: center;
//    margin-bottom: rem(40px);
//  }
//  &-body{
//    .btn {
//      width: 100%;
//      display: block;
//      margin-top: rem(30px);
//    }
//  }
//  .form-control{
//    width: 100%;
//  }
//}
//
//.modal-open {
//   overflow: hidden;
//}
//

.modal {
  animation-name: animatetop;
  animation-duration: 0.4s;
  .close {
    cursor: pointer;
    position: absolute;
    font-size: rem(36px);
    line-height: rem(20px);
    right: 15px;
    height: 26px;
    top: 12px;
    padding: 0;
    color: #cdcdcd;
    display: inline-block;
    &:hover {
      color: $grey;
    }
  }
  &-header {
    display: block;
    .modal-description {
      font-size: rem(14px);
      width: 225px;
      margin: auto;
      @include respond-to(xs) {
        width: 90%;
      }
    }
  }
  &-title {
    margin-bottom: rem(20px);
  }
  &-body {
    padding: rem(15px 100px 67px 100px);
    @include respond-to(es) {
      padding: rem(15px 15px 25px 15px);
    }
    .form-control {
      width: 100%;
    }
    .modal-description {
      font-size: rem(14px);
      width: 225px;
      margin: rem(0 auto 70px);
      @include respond-to(xs) {
        margin: rem(0 auto 20px);
      }
    }
    .btn {
      width: 100%;
      text-align: center;
      margin-top: rem(10px);
    }
  }
  &-img {
    text-align: center;
    margin-bottom: rem(45px);
    @include respond-to(xs) {
      margin-bottom: rem(20px);
    }
  }
  &-open{
    position: fixed;
    height: 100vh;
  }
  &.show {
    display: block;
  }
  &-backdrop {
    &.show {
      overflow: hidden;
      height: 100vh;
    }
  }
}

// --------------custom bootstrap ------------

.modal-header {
  flex-wrap: wrap;
}
//.modal-content{
//  position: fixed;
//}
#successModal,
#thankModal {
  @include respond-to(xs) {
    .modal-title {
      margin-bottom: 0;
    }
    .modal-header {
      padding-bottom: rem(10px);
    }
    .modal-img {
        img {
          width: 20%;
        }
    }
    .modal-body {
      .btn {
        display: block;
        margin: 0 auto;
        width: 40%;
      }
    }
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}