//---------------our-project -------------

.our-projects {
  margin-bottom: rem(50px);
  padding-top: rem(50px);
  @include respond-to(sm) {
    margin-bottom: rem(30px);
  }
  @include respond-to(xs) {
    margin-bottom: rem(20px);
    padding-top: rem(40px);
  }

  .title-h2 {
    margin-bottom: rem(45px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }

  .btn-silver-2 {
    background-color: #676466;
  }
}

.project-items {
  margin-bottom: rem(50px);
}

.project-item {
  display: flex;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  margin-top: rem(30px);
  @include respond-to(es) {
    flex-wrap: wrap;
  }

  &__img {
    width: 50%;
    @include respond-to(es) {
      width: 100%;
      height: 40vh;
    }
  }

  &__content {
    width: 50%;
    padding: rem(35px 45px 60px 45px);
    @include respond-to(sm) {
      padding: rem(30px);
    }
    @include respond-to(es) {
      width: 100%;
    }

    .btn-violet,
    .btn-orange {
      width: 230px;
    }
  }

  .logo {
    margin-bottom: rem(30px);
    @include respond-to(sm) {
      margin-bottom: rem(20px);
    }
  }

  .title-h3 {
    margin-bottom: rem(30px);
    @include respond-to(sm) {
      margin-bottom: rem(20px);
    }
  }

  .description {
    margin-bottom: rem(40px);
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    @include respond-to(sm) {
      margin-bottom: rem(20px);
    }
  }
}


//----------------- venture-projects -------------

.venture-projects {
  padding: 50px 0 15px;
  color: $black-header;

  .title-h2 {
    margin-bottom: rem(60px);
    @include respond-to(xs) {
      margin-bottom: rem(40px);
    }
  }

  &-logo {
    margin-bottom: rem(25px);
  }

  &-description {
    font-size: rem(14px);
    padding: 0 25%;
    text-align: center;
    line-height: rem(24px);
    margin-bottom: rem(60px);
    @include respond-to(xs) {
      padding: 0 10%;
    }
    @include respond-to(xs) {
      padding: 0 5%;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(40px);
    @include respond-to(xs) {
      flex-wrap: wrap;
      margin-bottom: rem(20px);
    }
    @include respond-to(es) {
      margin-bottom: 0;
    }
  }

  &-item {
    padding: 0 50px;
    text-align: center;
    margin-bottom: 20px;
    @include respond-to(sm) {
      padding: 0 30px;
    }
    @include respond-to(xs) {
      padding: rem(0 15%);
      margin-bottom: rem(30px);
    }
    @include respond-to(es) {
      padding: rem(0 5%);
    }

    &__logo {
      margin-bottom: rem(30px);
      @include respond-to(xs) {
        margin-bottom: rem(20px);
      }
    }

    &__description {
      font-size: rem(14px);
      line-height: rem(24px);
    }
  }

  //  -----------------other venture project ---------------

  &-others {
    .sub-title {
      margin-bottom: rem(20px);
      font-weight: 500;
    }

    &__list {

    }

    &-item {
      padding-bottom: rem(50px);
      margin-bottom: rem(50px);
      border-bottom: 2px dashed #e8e8e8;
      @include respond-to(sm) {
        padding-bottom: rem(40px);
        margin-bottom: rem(40px);
      }
      @include respond-to(xs) {
        padding-bottom: rem(30px);
        margin-bottom: rem(30px);
      }

      &__logo {
        text-align: center;
        margin-bottom: rem(30px);
        @include respond-to(sm) {
          margin-bottom: rem(20px);
        }
        @include respond-to(xs) {
          margin-bottom: rem(10px);
        }
      }

      &__description {
        padding: 0 26%;
        text-align: center;
        line-height: rem(24px);
        font-size: rem(14px);
        @include respond-to(xs) {
          padding: 0 15%;
        }
        @include respond-to(es) {
          padding: 0 5%;
        }
      }
    }
  }
}

//----------------- estate-projects ----------------

.estate-projects {
  padding-bottom: rem(70px);
  @include respond-to(xs) {
    padding-bottom: rem(40px);
  }

  .title-h2 {
    margin-bottom: rem(60px);
    @include respond-to(xs) {
      margin-bottom: rem(40px);
    }
  }

  &-list {

    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30px);
    margin-left: -15px;
    margin-right: -15px;
    @include respond-to(xs) {
      justify-content: center;
      margin-bottom: rem(10px);
      flex-wrap: wrap;
    }
  }

  &-wrap {
    width: calc(100% / 3);
    display: flex;
    overflow: hidden;
    margin-bottom: rem(30px);
    margin-left: 15px;
    margin-right: 15px;
    @include respond-to(xs) {
      width: calc(100% / 2 - 30px);
    }
    @include respond-to(es) {
      width: 100%;
      margin-bottom: rem(15px);
    }
  }

  &-item {
    padding: rem(80px 15px);
    color: $white;
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s linear, background-color 1s ease-in-out;
    @include respond-to(md) {
      padding: rem(50px 15px);
    }
    @include respond-to(xs) {

      padding: rem(40px 15px);

    }
    @include respond-to(es) {
      width: 100%;
    }
    &:hover {
      transform: scale(1.05);
      max-height: 320px;
      overflow: hidden;

      &:before {
        background-color: rgba(50, 47, 49, 0.3)
      }
    }

    &__logo {
      margin-bottom: rem(20px);

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &__title {
      font-size: rem(28px);
      font-weight: 900;
    }

    &__description {
      font-weight: 300;
      margin-top: rem(5px);
      font-size: rem(16px);
      padding: 0 50px;
      @include respond-to(sm) {
        padding: 0;
      }
    }
  }

  &-info {
    position: relative;
    z-index: 5;
    text-align: center;
  }
}