
.tabs {
  &__nav {
    display: flex;
    border-bottom: 1px solid #e2e2e2;
    width: 90%;
    margin: 0 auto rem(35px);
    justify-content: space-around;
    @include respond-to(es) {
      flex-direction: column;
      border-bottom: none;
    }
    @include respond-to(xs){
      width: 100%;
      margin-bottom: rem(30px);
    }
    &--orange {
      border: none;
      justify-content: center;
      flex-direction: row;
      padding: 0 15px;
      .tabs__link {
        background:#ffffff;
        box-shadow:0 5px 10px 0 rgba(0,0,0,0.15);
        width: auto;
        margin: 0;
        color: #a2a2a2;
        padding: 13px 30px;
        font-size: rem(16px);
        @include respond-to(es) {
          font-size: rem(14px);
          padding: 11px 15px;
        }
        &:first-child {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }
        &:last-child {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
        &.active{
          background-image:linear-gradient(-90deg, #f47c22 0%, #ffcd02 100%);
          box-shadow:0 10px 15px 0 rgba(255,202,4,0.20);
          color: $white;
          &:after {
            display: none;
          }
          &:hover {
            box-shadow: none;
            color: $white;
          }
        }
        &:hover {
          color: #a2a2a2;
          box-shadow: none;
        }
      }

    }
  }
  &__link {
    display: inline-block;
    color: $grey;
    font-size: rem(18px);
    font-weight: 700;
    padding: rem(10px 20px);
    position: relative;
    transition: .2s ;
    text-align: center;
    width: calc(100% / 3);
    cursor: pointer;
    @include respond-to(xs) {
      width: 60%;
      margin: auto;
    }
    &:hover {
      color: $violet;
    }
    &.active {
      color: $violet-2;
      &:after {
        content: '';
        background: linear-gradient(-180deg, #9d1ebb 0%, #e756bd 100%);
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 5px;
        //@include respond-to(xs) {
        //  position: relative;
        //}
      }
    }
  }
  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
}