{% extends "layouts/_app.html" %}

{% set title = 'Apartments by StanGher in Alicante, Spain | StanGher'%}
{% set description = 'Alicante seaside town on the West part of Spain' %}

{% block content %}

<div class="section top-banner bg-cover overlay" style="background-image: url(../images/alicante.jpg)">
    <div class="container">
        <div class="banner-project">
            <div class="banner-project__icon">
                <img src="../images/svg/alicante.svg" alt="city">
            </div>
            <div class="col">
                <div class="banner-project__city">Alicante</div>
                <div class="banner-project__country">Spain</div>
            </div>
            <span class="btn btn--lg btn-white">1 projects</span>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h1 class="title-h1 center">Our projects at Alicante</h1>
            <div class="project-items">
                {% include './modules/projects/_alicante-guesthouse.html'%}
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="hr-dashed"></div>
        <div class="about-project">
            <h2 class="title-h2">Alicante seaside town on the West part of Spain</h2>
            <div class="description">
                <p>The city is considered the capital of the eastern Spanish coast and the main resort of the Costa Blanca. Alicante is a place where you can find almost everything that a tourist needs: the sea and snow-white sandy beaches, rich history and attractions (from the medieval fortress to the classic Mediterranean old town with narrow cobbled streets). It is a dynamic and modern city, which is one of the best holiday destinations in Spain.
                </p>
                <p>The airport is located 11 km south of Alicante. From the airport to the city there is a bus every 20 minutes. The main railway station is located in the city center. All major Spanish cities, such as Madrid, Seville, Barcelona, ​​have a daily train service to Alicante. There is a high-speed train from Madrid and Valencia. Average journey time from Alicante to Madrid is 3 hours and 30 minutes.</p>
            </div>
            <h2 class="title-h2">Shopping, national cuisine and history</h2>
            <div class="description">
                <p>At the time of the ancient Greeks, a fishing harbor was located on the site of modern Alicante. In the 12th century, Arabs captured the city and named it Al-Lacant, which was transformed into a modern name. In 1246, Alicante became part of the Castilian Kingdom, then the city became part of the Kingdom of Valencia. By the end of the 15th century, Alicante became one of the largest trading ports in Spain. Today, the province of Alicante is the second largest region in the Valencian autonomous community, and the city itself is one of the largest and most popular resorts in Spain.
                </p>
                <p>Alicante has something to offer in terms of shopping. There are many shops on the streets between La Rambla and Federica Soto do de Alfonso El Sabio. El Barrio, the old quarter of Alicante, also has many retail outlets.</p>
                <ul>
                    <li class="li-title">Big malls:</li>
                    <li>El Corte Inglés;</li>
                    <li>Centro Comercial Plaza Mar 2;</li>
                    <li>Centrol Comercial Panoramis;</li>
                    <li>Centrol Comercial Gran Via;</li>
                    <li>Centrol Comercial Puerta de Alicante.</li>
                </ul>
                <p>The region is rich with seafood dishes, the main national dishes are tapas and paella.
                    Alicante is also known for its nightlife. In the summer, many parties take place on the beaches of Postiguet and San Juan.</p>
            </div>
        </div>
        <div class="traveling">
            <h2 class="title-h2">Interesting places in Alicante</h2>
            <div class="interesting-items">
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://www.ursulasweeklywanders.com/wp-content/uploads/2018/06/28-19084-post/00008-Castle-on-Mount-Benacantil_5803(pp_w658_h438).jpg" alt="Santa Barbara Castle">
                        <figcaption class="interesting-item__description">
                            <strong>Santa Barbara Castle</strong> <br>
<!--                            <span>(back view from quay)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Santa Barbara Castle</h3>
                        <p>One of the largest medieval castles of Spain and the most famous landmarks of Alicante. Located at the top of Benacantil mountain at an altitude of 166 meters with a beautiful view of the city and the bay.</p>
                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="http://blog.ticketea.com/wp-content/uploads/2017/07/926x558xParte-vieja-San-sebastian.jpg.pagespeed.ic._YskEP18aR.jpg" alt="Casco Antiguo">
                        <figcaption class="interesting-item__description"><strong>Casco Antiguo</strong> <br>
<!--                            <span>(the most exiting street in central area)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Casco Antiguo</h3>
                        <p>A charming area in the old town, more like a Spanish village. Locals are proud of their houses, decorate balconies and rapids with fresh flowers and paint on shutters.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Esplanade_d%27Espagne_-_Alicante.jpg/1200px-Esplanade_d%27Espagne_-_Alicante.jpg" alt="Explanada de Espana">
                        <figcaption class="interesting-item__description"><strong>Explanada de Espana</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Explanada de Espana</h3>
                        <p>Elegant marble embarkment of Alicante. It begins in the old town and continues to the pier.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--<div class="section">-->
<!--    <div class="container">-->
<!--        <div class="interesting-places">-->
<!--            <h3 class="title-h3 center">More interesting places</h3>-->
<!--            <div class="interesting-more">-->

<!--                <div class="interesting-item">-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-3.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-1.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-1.jpg" alt="Place Nam">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-2.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        <hr class="hr-dashed">-->
<!--        <div class="detailed-info">-->
<!--            <h2 class="title-h2">Moscow for business</h2>-->
<!--            <div class="description">-->
<!--                <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta-->
<!--                    aeque-->
<!--                    inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis-->
<!--                    corpora vim, at tempor doctus cum.-->
<!--                </p> <br>-->
<!--                <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                    contentiones.-->
<!--                    Cum wisi dicat instructior cu, an qui solum conceptam. Id sumo postea docendi usu. At nec detracto-->
<!--                    legendos salutandi, solum fabulas detracto his an.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="info-list">-->
<!--            <div class="info-list__item">-->
<!--                <div class="title-h3 info-list__title">Business and investments</div>-->
<!--                <div class="info-list__description">-->
<!--                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                        Dicta aeque-->
<!--                        inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus-->
<!--                        nobis-->
<!--                        corpora vim, at tempor doctus cum.</p>-->
<!--                    <br>-->
<!--                    <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                        contentiones.-->
<!--                        Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                </div>-->
<!--                <div class="percent-list">-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="75$">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">of investments-->
<!--                            volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="35" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">positive</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-pink" data-pct="25" data-text="532">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">negative</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="info-list__item">-->
<!--                <div class="title-h3 info-list__title">Real estate business</div>-->
<!--                <div class="info-list__description">-->
<!--                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                        Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.-->
<!--                        Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                </div>-->
<!--                <div class="percent-list">-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="85$">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="75" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">neutral</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="50" data-text="3K">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">neutral</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="info-list__item">-->
<!--                    <div class="title-h3 info-list__title">IT and technologies</div>-->
<!--                    <div class="info-list__description">-->
<!--                        <p> Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes-->
<!--                            viderer.-->
<!--                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                        <br>-->
<!--                        <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="info-list__item">-->
<!--                    <div class="title-h3 info-list__title">Other business potentials</div>-->
<!--                    <div class="info-list__description">-->
<!--                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.-->
<!--                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                        <br>-->
<!--                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr class="hr-dashed">-->
<!--    </div>-->
<!--</div>-->


{% endblock %}

