{% extends "layouts/_app.html" %}

{% set title = 'Coworking & Apartments by StanGher in Lviv, Ukraine | StanGher' %}
{% set description = 'Lviv- old town with great history. Lviv, a city with a rich history, located in western Ukraine, about 70 kilometers from the border with Poland.' %}

{% block content %}

<div class="section top-banner bg-cover overlay" style="background-image: url(../images/lviv.jpg)">
    <div class="container">
        <div class="banner-project">
            <div class="banner-project__icon">
                <img src="../images/svg/lion.svg" alt="city">
            </div>
            <div class="col">
                <div class="banner-project__city">Lviv</div>
                <div class="banner-project__country">Ukraine</div>
            </div>
            <span class="btn btn--lg btn-white">2 projects</span>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h1 class="title-h1 center">Our projects at Lviv</h1>
            <div class="project-items">
                {% include './modules/projects/_lviv-coworking-apart.html'%}
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="hr-dashed"></div>
        <div class="about-project">
            <h2 class="title-h2">Lviv- old town with great history</h2>
            <div class="description">
                <p>Lviv, a city with a rich history, located in western Ukraine, about 70 kilometers from the border with Poland.</p>
                <p>It was founded in the XIII century. and since then many times changed the flag: it belonged to Poland, Austria-Hungary and the Soviet empire. The architecture of the city keeps traces of Polish and Austro-Hungarian heritage and combines styles of Eastern and Central Europe, namely Italy and Germany.</p>
                <p>The well-preserved historic center of Lviv is a UNESCO World Heritage Site.</p>
            </div>
        </div>
        <div class="traveling">
            <h2 class="title-h2">Lviv is rich in monuments of culture and art.</h2>
            <div class="interesting-items">
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://st.depositphotos.com/1664950/4831/i/950/depositphotos_48319749-stock-photo-lviv-main-square.jpg" alt="Main square">
                        <figcaption class="interesting-item__description">
                            <strong>Main square</strong> <br>
<!--                            <span>(back view from quay)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Main square</h3>
                        <p>It is better to start to getting to know the city on the Market Square, where the holiday atmosphere always reigns. Market Square, as cozy and well-kept as in any European city, it is surrounded by solid sights. Taking into consideration at least the sculptural fountains: Adonis, Amphitrite, Neptune and Diana. Thesculptor Gartman Vitverbuiltthemin1810-1814.</p>
                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="http://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2016/04/Lviv-Town-Hall-Rynok-Square_CS.jpg" alt="Town hall">
                        <figcaption class="interesting-item__description"><strong>Town hall</strong> <br>
<!--                            <span>(the most exiting street in central area)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Town hall</h3>
                        <p>In the square center there is the Town Hall, the high is 65 meters. You can have a beautiful city view from here. The main city clock is situated on the tower, it was constructed by the Austrian factory Wilgelm Stiehl, it is more than 165 years old.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://static1.squarespace.com/static/5764195fb8a79b7fbafd3eb5/59eee911d7bdce4245edd1e4/59eee917017db2e4f36f2f9a/1508829470386/Lviv-12.jpg?format=2500w" alt="Italian courtyard">
                        <figcaption class="interesting-item__description"><strong>Italian courtyard</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Italian courtyard</h3>
                        <p>In the very center of the city there is a place where you can sit in silence and coolness. Back in the 16th century, when the central part of Lviv was built up, the owners of the house was suffering from market noise. They wanted to arrange for themselves a courtyardfor a quiet life, and they succeeded. Now the Italian courtyard serves as an oasis.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://destinations.com.ua/storage/crop/archive-articles/avatar_1983_max.jpg" alt="Latin Cathedral">
                        <figcaption class="interesting-item__description"><strong>Latin Cathedral</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Latin Cathedral</h3>
                        <p>The foundation stone of the cathedral was laid by the Polish king Casimir the Great. Originally, it was planned to build two towers, but one was never completed. The cathedral acquired its present appearance after reconstruction at the end of the 18th century. In 2001, the shrine was visited by Pope John Paul II.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://torro.com.ua/upload/img/article/_5bdcb78fd4958.jpg" alt="Lviv Opera House">
                        <figcaption class="interesting-item__description"><strong>Lviv Opera House</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Lviv Opera House</h3>
                        <p>Love, Life, Glory, Art, Victory - these figures adorn the facade of one of the most beautiful theaters in Europe. The interior of the theater is also impressive, paintings, chandeliers, the mansion of Emperor Franz Joseph.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://inlviv.in.ua/wp-content/uploads/2017/01/visokiy-zamok----aerozyomka-lviv.jpg" alt="Tall castle">
                        <figcaption class="interesting-item__description"><strong>Tall castle</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Tall castle</h3>
                        <p>One of the most romantic places in Lviv is the park "High Castle", that is located on Castle Hill. There is a beautiful panoramic view on 413meters high on the city. Unfortunately, the castle was completely destroyed by Swedish troops in the 17th century, the remains of a fortress reminiscent of his readiness.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://mapio.net/images-p/28430185.jpg" alt="Vernissage market ">
                        <figcaption class="interesting-item__description"><strong>"Vernissage" market </strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">"Vernissage" market </h3>
                        <p>To get souvenirs head for the Vernissage, the market, which is located next to the Maria Zankovetskoy Drama Theater. Paintings, embroidery, magnets, scarves, rushnyk, jewelry, leather products, embroidery, antiques,  everything can be found in a small square, gripping between ancient buildings.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

