{% extends "layouts/_app.html" %}


{% block content %}

<div class="section top-banner">
    <div class="container">
        <div class="banner-project">
            <div class="banner-project__icon"></div>
            <div class="banner-project__city">Moscow</div>
            <div class="banner-project__country">Russia</div>
            <a class="btn btn--lg btn-white">3 projects</a>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1></h1>
        <div class="description">
            <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
            <br>
            <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis contentiones. Cum wisi dicat instructior cu, an qui solum conceptam. Id sumo postea docendi usu. At nec detracto legendos salutandi, solum fabulas detracto his an.</p>
        </div>
        <div class="traveling">
            <h2>Moscow for travelling</h2>
            <div class="interesting-items">
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3>Timeless arhitecture and historical places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Tretyakov passage</strong> <br>
                            (the most exiting street in central area)</figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3>Street views and original places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3>Shopping, food culture and fun places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="interesting-places">
            <h2>More interesting places</h2>
            <div class="interesting-items">
                <div class="traveling-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                </div>
                <div class="traveling-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                </div>
                <div class="traveling-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                </div>
                <div class="traveling-item">
                    <figure class="interesting-item__img">
                        <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                        <figcaption><strong>Moscow State University</strong> <br>
                            (back view from quay)</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2>Our projects</h2>
            <div class="our-projects__item"></div>
            <div class="our-projects__item"></div>
            <div class="our-projects__item"></div>
            <div class="btn-row center">
                <a href="#" class="btn btn-silver btn--lg">All projects</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

