{% extends "layouts/_app.html" %}


{% block content %}

<div class="section top-banner bg-cover overlay" style="background-image: url(../images/moscow.jpg)">
    <div class="container">
        <div class="banner-project">
            <div class="banner-project__icon">
                <img src="../images/svg/moscow.svg" alt="city">
            </div>
            <div class="col">
                <div class="banner-project__city">Moscow</div>
                <div class="banner-project__country">Russia</div>
            </div>
            <span class="btn btn--lg btn-white">3 projects</span>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-project">
            <h1 class="title-h1">Moscow – a place of beautiful opportunities</h1>
            <div class="description">
                <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta
                    aeque
                    inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis
                    corpora vim, at tempor doctus cum.</p>
                <br>
                <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                    contentiones.
                    Cum wisi dicat instructior cu, an qui solum conceptam. Id sumo postea docendi usu. At nec detracto
                    legendos salutandi, solum fabulas detracto his an.</p>
            </div>
        </div>
        <div class="traveling">
            <h2 class="title-h2">Moscow for travelling</h2>
            <div class="interesting-items">
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="../images/m-1.jpg" alt="Moscow State University">
                        <figcaption>
                            <strong>Moscow State University</strong> <br>
                            <span>(back view from quay)</span>
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Timeless arhitecture and historical places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes
                            viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="../images/m-2.jpg" alt="Tretyakov passage">
                        <figcaption><strong>Tretyakov passage</strong> <br>
                            <span>(the most exiting street in central area)</span>
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Street views and original places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes
                            viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="../images/m-3.jpg" alt="GUM: Main Universal Shop of Moscow">
                        <figcaption><strong>GUM: Main Universal Shop of Moscow</strong> <br>
                            <span>(the most exiting place to spend your freetime)</span>
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Shopping, food culture and fun places</h3>
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes
                            viderer. Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="interesting-places">
            <h3 class="title-h3 center">More interesting places</h3>
            <div class="interesting-more">

                <div class="interesting-item">
                    <figure class="interesting-item__img">
                        <img src="../images/m-3.jpg" alt="Trulli">
                        <figcaption><strong>Moscow State University</strong> <br>
                            <span>(back view from quay)</span>
                        </figcaption>
                    </figure>
                    <figure class="interesting-item__img">
                        <img src="../images/m-1.jpg" alt="Trulli">
                        <figcaption><strong>Moscow State University</strong> <br>
                            <span>(back view from quay)</span>
                        </figcaption>
                    </figure>
                    <figure class="interesting-item__img">
                        <img src="../images/m-1.jpg" alt="Place Nam">
                        <figcaption><strong>Moscow State University</strong> <br>
                            <span>(back view from quay)</span>
                        </figcaption>
                    </figure>
                    <figure class="interesting-item__img">
                        <img src="../images/m-2.jpg" alt="Trulli">
                        <figcaption><strong>Moscow State University</strong> <br>
                            <span>(back view from quay)</span>
                        </figcaption>
                    </figure>
                </div>

            </div>
        </div>
        <hr class="hr-dashed">
        <div class="detailed-info">
            <h2 class="title-h2">Moscow for business</h2>
            <div class="description">
                <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta
                    aeque
                    inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis
                    corpora vim, at tempor doctus cum.
                </p> <br>
                <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                    contentiones.
                    Cum wisi dicat instructior cu, an qui solum conceptam. Id sumo postea docendi usu. At nec detracto
                    legendos salutandi, solum fabulas detracto his an.</p>
            </div>
        </div>
        <div class="info-list">
            <div class="info-list__item">
                <div class="title-h3 info-list__title">Business and investments</div>
                <div class="info-list__description">
                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                        Dicta aeque
                        inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus
                        nobis
                        corpora vim, at tempor doctus cum.</p>
                    <br>
                    <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                        contentiones.
                        Cum wisi dicat instructior cu, an qui solum conceptam.</p>
                </div>
                <div class="percent-list">
                    <div class="percent-item">
                        <div class="circle-box circle-green" data-pct="75" data-text="75$">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">billions</div>
                        <div class="percent-text">of investments
                            volumes
                        </div>
                    </div>
                    <div class="percent-item">
                        <div class="circle-box circle-green" data-pct="75" data-text="75%">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">billions</div>
                        <div class="percent-text">business ideas and cases
                        </div>
                    </div>
                    <div class="percent-item">
                        <div class="circle-box circle-orange" data-pct="35" data-text="75%">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">positive</div>
                        <div class="percent-text">of investments volumes
                        </div>
                    </div>
                    <div class="percent-item">
                        <div class="circle-box circle-pink" data-pct="25" data-text="532">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">negative</div>
                        <div class="percent-text">business ideas and cases
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-list__item">
                <div class="title-h3 info-list__title">Real estate business</div>
                <div class="info-list__description">
                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                        Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.
                        Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                </div>
                <div class="percent-list">
                    <div class="percent-item">
                        <div class="circle-box circle-green" data-pct="75" data-text="85$">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">billions</div>
                        <div class="percent-text">of investments volumes
                        </div>
                    </div>
                    <div class="percent-item">
                        <div class="circle-box circle-orange" data-pct="75" data-text="75%">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">neutral</div>
                        <div class="percent-text">business ideas and cases
                        </div>
                    </div>
                    <div class="percent-item">
                        <div class="circle-box circle-orange" data-pct="50" data-text="3K">
                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">
                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"
                                        stroke-width="5"/>
                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>
                            </svg>
                        </div>
                        <div class="circle-box-label">neutral</div>
                        <div class="percent-text">of investments volumes
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="info-list__item">
                    <div class="title-h3 info-list__title">IT and technologies</div>
                    <div class="info-list__description">
                        <p> Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes
                            viderer.
                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>
                    </div>
                </div>
                <div class="info-list__item">
                    <div class="title-h3 info-list__title">Other business potentials</div>
                    <div class="info-list__description">
                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.
                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.
                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>
                        <br>
                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis
                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-dashed">
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2 class="title-h2 center">Our projects at Moscow</h2>
            <div class="project-items">
                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-1.jpg)"></div>
                    <div class="project-item__content bg-black">
                        <div class="logo"><img src="../images/svg/stangher-coworking-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="coworking.html" class="btn btn--lg btn-violet">Learn more</a>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-2.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-riverdale-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="apartments.html" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>

                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-3.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-loftclub-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="apartments-loft.html" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

