{% extends "layouts/_app.html" %}

{% set title = 'About StanGher Projects | StanGher' %}
{% set description = 'StanGher is a house that combines only good ideas in various business areas.
Our goal is to develop in different directions that may be interesting and
useful for clients and also for our partners.' %}

{% block content %}

<div class="section section-bg bg-dark">
    <div class="container">
        <div class="about-us-hero">
            <div class="about-us-hero__logo">
                <img src="../images/svg/stangher-ideas-logo.svg" alt="logo">
            </div>
            <div class="about-us-hero__description text-white">
                <p>StanGher is a house that combines only good ideas in various business areas.
                    Our goal is to develop in different directions that may be interesting and
                    useful for clients and also for our partners.
                </p>
                <br>
                <p>We continue growing and achieve new success and we always
                    happy for those who are ready to become a part of us.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section-pt-6">
    <div class="container">
        <h2 class="title-h2 center">
            Our development directions
        </h2>
        <div class="our-development">
            <div class="development-list">
                <div class="development-item">
                    <div class="development-item__img">
                        <img src="../images/svg/real-estate.svg" alt="">
                    </div>
                    <h3 class="title-h3 development-item__title">Real Estate projects</h3>
                    <div class="development-item__description">
                        We are always happy to develop and build interesting real estate projects. We are always open to
                        new ideas and solutions in these areas. Our company is ready to develop this sphere both in its
                        own way and in partnership.
                    </div>
                </div>
                <div class="development-item">
                    <div class="development-item__img">
                        <img src="../images/svg/investments.svg" alt="">
                    </div>
                    <h3 class="title-h3 development-item__title">Investments</h3>
                    <div class="development-item__description">
                        We develop many campaigns and effective solutions for investing potentially interesting projects
                        and worthy ideas. Our investment companies are set up both to invest in business projects and to
                        get third-party investments in our current and future ideas.
                    </div>
                </div>
                <div class="development-item">
                    <div class="development-item__img">
                        <img src="../images/svg/gears.svg" alt="#">
                    </div>
                    <h3 class="title-h3 development-item__title">Сontrol & Management</h3>
                    <div class="development-item__description">
                        We believe that only the right control and administration can rule a successful business. We
                        have always worked on the right management tools and will continue to do it so that the business
                        will be even more joyful.
                    </div>
                </div>
                <div class="development-item">
                    <div class="development-item__img">
                        <img src="../images/svg/it.svg" alt="">
                    </div>
                    <h3 class="title-h3 development-item__title">IT technologies & development</h3>
                    <div class="development-item__description">
                        Our company does not see the future without good IT technologies. Nowadays, only good decisions
                        can lead to the desired result and achieve new heights and goals.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-pt-6 bg-silver">
    <div class="container">
        <div class="our-team">
            <h2 class="title-h2 center">
                Our team
            </h2>
            <div class="our-team-wrap">
                <div class="our-team-list">

                    <div class="our-team-item our-team-item--big">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_1.jpg" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Stanislav Gherasimov</div>
                            <div class="our-team-item__position">Fund founder</div>
                        </div>
                    </div>

                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_2.jpg" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Natalia Pervushina</div>
                            <div class="our-team-item__position">Chief Accounting Officer</div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_3.jpg" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Roman Sokolov</div>
                            <div class="our-team-item__position">Chief Information Officer</div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_4.jpg" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Viktoria Lazareva</div>
                            <div class="our-team-item__position">PR director</div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_5.png" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Yaroslav Kozak </div>
                            <div class="our-team-item__position">Ukrainian Business Representative </div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_6.png" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Denis Bordian</div>
                            <div class="our-team-item__position">Moldavian Business Representative</div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_7.png" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Alena Dubina</div>
                            <div class="our-team-item__position">Moscow Business Representative</div>
                        </div>
                    </div>
                    <div class="our-team-item">
                        <div class="our-team-item__photo">
                            <img src="../images/team/photo_8.png" alt="photo">
                        </div>
                        <div class="our-team-item__content">
                            <div class="our-team-item__title">Kaplenko Oksana</div>
                            <div class="our-team-item__position">Legal Officer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-more-info section-bg" style="background-image: url(../images/write-bg.jpg)">
    <div class="container">
        {%include 'modules/_more-info.html' %}
    </div>
</div>

{%include "modals/contacts.html" %}


{% endblock %}


