{% extends "layouts/_app.html" %}

{% set title = 'Aparthotel and Guest House by StanGher in Chisinau, Moldowa | StanGher' %}
{% set description = 'Moldova is a country of vineyards. Moldova is a small country in Eastern Europe, undoubtedly interesting in terms of tourism. On its territory there is a fairly large number of historical and modern cultural monuments. The most visited place in Moldova is its capital - Chisinau.' %}

{% block content %}

<div class="section top-banner bg-cover overlay" style="background-image: url(../images/chisinau.jpg)">
    <div class="container">
        <div class="banner-project">
            <div class="banner-project__icon">
                <img src="../images/svg/chisinau.svg" alt="city">
            </div>
            <div class="col">
                <div class="banner-project__city">Chisinau</div>
                <div class="banner-project__country">Moldowa</div>
            </div>
            <span class="btn btn--lg btn-white">2 projects</span>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h1 class="title-h1 center">Our projects at Chisinau</h1>
            <div class="project-items">
                {% include './modules/projects/_chisinau-guesthouse.html'%}
                {% include './modules/projects/_chisinau-aparthotel.html'%}
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="hr-dashed"></div>
        <div class="about-project">
            <h2 class="title-h2">Moldova is a country of vineyards</h2>
            <div class="description">
                <p>Moldova is a small country in Eastern Europe, undoubtedly interesting in terms of tourism. On its territory there is a fairly large number of historical and modern cultural monuments. The most visited place in Moldova is its capital - Chisinau. In addition, there are other cities that can be attractive for tourists: Tiraspol, Balti, and Orhei, popular due to the medieval city Old Orhei located in it.</p>
                <p>The main wine-growing regions of the country are Nistreana, which is famous for its red wines, and Codry, where there are some of the largest wine cellars in the world.</p>
            </div>
            <h2 class="title-h2">Chisinau is the capital of Moldova</h2>
            <div class="description">
                <p>Like any capital, Chisinau is ready to offer its tourists a wide range of various parks, restaurants and small cafes, museums, libraries and historical monuments. Here you can see both typical buildings of the period of the Soviet Union and significant architectural monuments.</p>
                <p>The capital of Moldova is proudly have the name of the most green part of Europe. The abundance of parks, flowers, crystal clear waters makes it attractive not only for the local population, but also for a large flow of tourists.</p>
                <p>Chisinau can be divided into two parts: the Lower City, where historical buildings prevail, and the Upper City with more modern architecture. Over time, the historic center of the city became quite small - in the postwar period it was actively built up with new residential areas.</p>
            </div>
            <h2 class="title-h2">Food, shopping and interesting places</h2>
            <div class="description">
                <p>Chisinau is generous with its cafes and restaurants, offering national cuisine dishes. Moldova disposes quality lands, it is a rich region with various vegetables and fruits. Since olden times, all these riches are used in Moldavian cuisine. One of the most popular national products is cheese and corn. The main dish ia hominy (porridge made from corn flour).
                </p>
                <p>The best purchases in Chisinau are vegetables and fruits which are not treated with preservatives from Moldovan gardens, and of course the world-famous Moldavian wine.</p>
            </div>
        </div>
        <div class="traveling">
            <h2 class="title-h2">Main sightseeings</h2>
            <div class="interesting-items">
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://farm9.staticflickr.com/8812/17081817378_677d2aff2b_b.jpg" alt="Victory Arch">
                        <figcaption class="interesting-item__description">
                            <strong>Victory Arch</strong> <br>
<!--                            <span>(back view from quay)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Victory Arch</h3>
                        <p>The Victory Arch is one of the most significant architectural structures of Chisinau. Located on the square of the Grand National Assembly near the park of the Cathedral. The arch was erected in honor of the victory in the Russian-Turkish war.</p>

                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="http://organhall.md/media/images/big/sala_cu_orga5_7570763.jpg" alt="Organ Hall">
                        <figcaption class="interesting-item__description"><strong>Organ Hall</strong> <br>
<!--                            <span>(the most exiting street in central area)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">Organ Hall</h3>
                        <p>Concert hall in Chisinau municipality. The building of the Organ Hall is an architectural monument of the beginning of the 20th century, it enjoys an enviable popularity not only among the guests of the city, but also among the citizens themselves. The majestic winged angel looks out over the city right from the roof of the building. The entrance to the building is guarded by a pair of stone lions.</p>
                    </div>
                </div>
                <div class="interesting-item v-center">
                    <figure class="interesting-item__img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Alexander_Pushkin%27s_house-museum_in_Chisinau._-_panoramio_-_Alexander_Murvanidze_%282%29.jpg" alt="A.S. Pushkin house in Chisinau">
                        <figcaption class="interesting-item__description"><strong>A.S. Pushkin house in Chisinau</strong> <br>
<!--                            <span>(the most exiting place to spend your freetime)</span>-->
                        </figcaption>
                    </figure>
                    <div class="interesting-item__content">
                        <h3 class="title-h3">A.S. Pushkin house in Chisinau</h3>
                        <p>A literary museum in the former house of a merchant, where A. S. Pushkin lived from September 21 to mid-November 1820. The museum exhibits highlight the life and work of the poet at a time when he visited the territory of modern Moldova. The museum also widely presents objects of decorative art, the life of Pushkin's time and lifetime editions of the poet's works.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--<div class="section">-->
<!--    <div class="container">-->
<!--        <div class="interesting-places">-->
<!--            <h3 class="title-h3 center">More interesting places</h3>-->
<!--            <div class="interesting-more">-->

<!--                <div class="interesting-item">-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-3.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-1.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-1.jpg" alt="Place Nam">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                    <figure class="interesting-item__img">-->
<!--                        <img src="../images/m-2.jpg" alt="Trulli">-->
<!--                        <figcaption class="interesting-item__description"><strong>Moscow State University</strong> <br>-->
<!--                            <span>(back view from quay)</span>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        <hr class="hr-dashed">-->
<!--        <div class="detailed-info">-->
<!--            <h2 class="title-h2">Moscow for business</h2>-->
<!--            <div class="description">-->
<!--                <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his. Dicta-->
<!--                    aeque-->
<!--                    inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus nobis-->
<!--                    corpora vim, at tempor doctus cum.-->
<!--                </p> <br>-->
<!--                <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                    contentiones.-->
<!--                    Cum wisi dicat instructior cu, an qui solum conceptam. Id sumo postea docendi usu. At nec detracto-->
<!--                    legendos salutandi, solum fabulas detracto his an.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="info-list">-->
<!--            <div class="info-list__item">-->
<!--                <div class="title-h3 info-list__title">Business and investments</div>-->
<!--                <div class="info-list__description">-->
<!--                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                        Dicta aeque-->
<!--                        inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer. Cu ludus-->
<!--                        nobis-->
<!--                        corpora vim, at tempor doctus cum.</p>-->
<!--                    <br>-->
<!--                    <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                        contentiones.-->
<!--                        Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                </div>-->
<!--                <div class="percent-list">-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="75$">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">of investments-->
<!--                            volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="35" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">positive</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-pink" data-pct="25" data-text="532">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">negative</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="info-list__item">-->
<!--                <div class="title-h3 info-list__title">Real estate business</div>-->
<!--                <div class="info-list__description">-->
<!--                    <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                        Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.-->
<!--                        Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                </div>-->
<!--                <div class="percent-list">-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-green" data-pct="75" data-text="85$">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">billions</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="75" data-text="75%">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">neutral</div>-->
<!--                        <div class="percent-text">business ideas and cases-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="percent-item">-->
<!--                        <div class="circle-box circle-orange" data-pct="50" data-text="3K">-->
<!--                            <svg width="90px" height="90px" viewBox="0 0 90 90" class="circle-progress">-->
<!--                                <circle class="circle-bg" cx="45" cy="45" r="42.5" fill="none" stroke="#e6e6e6"-->
<!--                                        stroke-width="5"/>-->
<!--                                <circle class="circle-color" cx="45" cy="45" r="42.5" fill="none" stroke-width="5"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="circle-box-label">neutral</div>-->
<!--                        <div class="percent-text">of investments volumes-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="info-list__item">-->
<!--                    <div class="title-h3 info-list__title">IT and technologies</div>-->
<!--                    <div class="info-list__description">-->
<!--                        <p> Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes-->
<!--                            viderer.-->
<!--                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                        <br>-->
<!--                        <p> Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="info-list__item">-->
<!--                    <div class="title-h3 info-list__title">Other business potentials</div>-->
<!--                    <div class="info-list__description">-->
<!--                        <p>Inermis pertinacia his ea, te eos laudem verear moderatius, id aliquam equidem officiis his.-->
<!--                            Dicta aeque inermis eam ut, ne mea possim vivendum. Eu mundi ornatus vel, eu mea omnes viderer.-->
<!--                            Cu ludus nobis corpora vim, at tempor doctus cum.</p>-->
<!--                        <br>-->
<!--                        <p>Petentium mnesarchum necessitatibus no sea, cu populo graeco pertinax mea, vix eu officiis-->
<!--                            contentiones. Cum wisi dicat instructior cu, an qui solum conceptam.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr class="hr-dashed">-->
<!--    </div>-->
<!--</div>-->


{% endblock %}

