{% extends "layouts/_app.html" %}


{% block content %}
<div class="section section-hero-top section-bg bg-silver" style="background-image: url(../images/loft-hero-img.jpg)">
    <div class="container">
        <div class="hero-info">
            <div class="hero-logo"><img src="../images/svg/stangher-aparts-loftclub-logo.svg" alt="logo"></div>
            <div class="contacts-item">
                <span class="contacts-label">инфо-лайн:</span>
                <div class="contacts-text">
                    <img src="../images/svg/phone-orange.svg" alt="phone">
                    <a href="tel:+7 (495) 987-65-43">+7 (495) 987-65-43</a>
                </div>
            </div>
            <div class="contacts-item">
                <span class="contacts-label">мы находимся на:</span>
                <div class="contacts-text">
                    <img src="../images/svg/pin-orange.svg" alt="location">
                    <strong>2-ой Павелецкий проезд 5,с 1.</strong>
                </div>
            </div>
        </div>
        <h1>Стильные и комфортабельные <br>
            апартаменты в бизнес-центре <br>
            Ривердэйл</h1>
        <div class="description">
            <p>Мы предлагаем вам остановиться в комфортных лофт <br>
                апартаментах и почувствовать себя как дома, находясь <br>
                в отъезде c деловым визитом в Москву.</p>
            <br>
        </div>
        <a href="#" class="btn btn--lg btn-orange">Забронировать</a>
        <a href="#" class="btn btn--lg btn-silver-2">Подробнее</a>
    </div>
</div>

<div class="section section-apart bg-silver">
    <div class="container">
        <div class="our-coworking our-apart">
            <h2>О наших апартаментах</h2>
            <div class="description">
                <p>StanGher Apartments — это приятное пространство в стиле лофт, апартаменты в которых можно
                    остановиться и провести время
                    в комфортной обстановке.</p>
                <br>
                <p>Наши апартаменты — это компактные, полностью оборудованные
                    всей необходимой техникой жилые зоны, готовые предоставить
                    домашнюю обстановку нашим гостям.</p>
            </div>
            <div class="our-apart__img">
                <img src="../images/svg/apartments.svg" alt="apartments">
            </div>
        </div>
        <p class="center"><span class="text-gradient-orange upper">МЫ ПРЕДЛАГАЕМ</span></p>
        <h2 class="center">Отличную замену тесным и скучным офисам</h2>
    </div>
    <div class="offer-wrap offer-wrap-apart">
        <div class="offer-item offer-item-apart">
            <div class="slider-wrap slider-apart">
                <div class="offer-slider js-slider">
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/2.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/1.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>
                </div>
                <div class="slider-arrows">
                    <button class="slick-prev slick-arrow  "></button>
                    <button class="slick-next slick-arrow  "></button>
                </div>
                <div class="slider-dots slider-dots--orange"></div>
            </div>
            <div class="offer-content">
                <div class="offer-title">Апартамент №1</div>
                <div class="offer-info-rooms">
                    <span class="badge badge-white">2-3 гостя</span>
                    <span class="badge badge-white">1 спальня</span>
                    <span class="badge badge-white">2 кровати</span>
                    <span class="badge badge-white">2 ванны</span>
                </div>
                <h5>Удобства</h5>
                <ul class="offer-comfort">
                    <li class="offer-comfort__item"><img src="../images/svg/kitchen.svg" alt="кухня">Кухня и техника</li>
                    <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Приятная мебель</li>
                    <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg" alt="Кондиционер">Кондиционер</li>
                    <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">2 ванных комнаты</li>
                    <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                    <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">2 телевизора</li>
                </ul>

                <div class="offer-price text-gradient-orange">4 000 руб. / сутки</div>
                <a href="#" class="btn btn--lg btn-orange">Забронировать</a>
            </div>
        </div>
        <div class="offer-item offer-item-apart">
            <div class="slider-wrap slider-apart">
                <div class="offer-slider js-slider">
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/2.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/1.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>

                </div>
                <div class="slider-arrows">
                    <button class="slick-prev slick-arrow  "></button>
                    <button class="slick-next slick-arrow  "></button>
                </div>
                <div class="slider-dots slider-dots--orange"></div>
            </div>
            <div class="offer-content">

                <div class="offer-title">Апартамент №2</div>
                <div class="offer-info-rooms">
                    <span class="badge badge-white">2-3 гостя</span>
                    <span class="badge badge-white">1 спальня</span>
                    <span class="badge badge-white">2 кровати</span>
                    <span class="badge badge-white">2 ванны</span>
                </div>
                <h5>Удобства</h5>
                <ul class="offer-comfort ">
                    <li class="offer-comfort__item"><img src="../images/svg/kitchen.svg" alt="кухня">Кухня и техника</li>
                    <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Приятная мебель</li>
                    <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg" alt="Кондиционер">Кондиционер</li>
                    <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">2 ванных комнаты</li>
                    <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                    <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">2 телевизора</li>
                </ul>

                <div class="offer-price text-gradient-orange">4 000 руб. / сутки</div>
                <a href="#" class="btn btn--lg btn-orange">Забронировать</a>
            </div>

        </div>
        <div class="offer-item offer-item-apart">
            <div class="slider-wrap slider-apart">
                <div class="offer-slider js-slider">
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/2.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/1.jpg)"></div>
                </div>
                <div class="slider-arrows">
                    <button class="slick-prev slick-arrow  "></button>
                    <button class="slick-next slick-arrow  "></button>
                </div>
                <div class="slider-dots slider-dots--orange"></div>
            </div>
            <div class="offer-content">
                <div class="offer-title">Апартамент №3</div>
                <div class="offer-info-rooms">
                    <span class="badge badge-white">2-3 гостя</span>
                    <span class="badge badge-white">1 спальня</span>
                    <span class="badge badge-white">2 кровати</span>
                    <span class="badge badge-white">2 ванны</span>
                </div>
                <h5>Удобства</h5>
                <ul class="offer-comfort">
                    <li class="offer-comfort__item"><img src="../images/svg/kitchen.svg" alt="кухня">Кухня и техника</li>
                    <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Приятная мебель</li>
                    <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg" alt="Кондиционер">Кондиционер</li>
                    <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">2 ванных комнаты</li>
                    <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                    <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">2 телевизора</li>
                </ul>

                <div class="offer-price text-gradient-orange">4 000 руб. / сутки</div>
                <a href="#" class="btn btn--lg btn-orange">Забронировать</a>

            </div>
        </div>
        <div class="offer-item offer-item-apart">
            <div class="slider-wrap slider-apart">
                <div class="offer-slider js-slider">
                    <div class="offer-img slider-item" style="background-image: url(../images/3.jpg)"></div>
                    <div class="offer-img slider-item" style="background-image: url(../images/2.jpg)"></div>

                </div>
                <div class="slider-arrows">
                    <button class="slick-prev slick-arrow  "></button>
                    <button class="slick-next slick-arrow  "></button>
                </div>
                <div class="slider-dots slider-dots--orange"></div>
            </div>
            <div class="offer-content">

                <div class="offer-title">Апартамент №4</div>
                <div class="offer-info-rooms">
                    <span class="badge badge-white">2-3 гостя</span>
                    <span class="badge badge-white">1 спальня</span>
                    <span class="badge badge-white">2 кровати</span>
                    <span class="badge badge-white">2 ванны</span>
                </div>
                <h5>Удобства</h5>
                <ul class="offer-comfort">
                    <li class="offer-comfort__item"><img src="../images/svg/kitchen.svg" alt="кухня">Кухня и техника</li>
                    <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Приятная мебель</li>
                    <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg" alt="Кондиционер">Кондиционер</li>
                    <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">2 ванных комнаты</li>
                    <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                    <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">2 телевизора</li>
                </ul>

                <div class="offer-price text-gradient-orange">4 000 руб. / сутки</div>
                <a href="#" class="btn btn--lg btn-orange">Забронировать</a>
            </div>

        </div>
    </div>
</div>


<div class="section section-map ">
    <iframe class="location-map" src="https://yandex.ua/map-widget/v1/-/CBFcj4r7xD" width="100%" height="100%"
            frameborder="1" allowfullscreen="true"></iframe>
    <div class="container">
        <div class="location-contacts bg-silver">
            <h2>Мы находимся</h2>
            <div class="contacts-item">
                <div class="contacts-text">
                    <img src="../images/svg/phone-pink.svg" alt="phone">
                    <a href="tel:+7 (495) 987-65-43">+7 (495) 987-65-43</a>
                </div>
            </div>
            <p>Приятный инфраструктурно развитый район.
                На территории самого комплекса торговый центр Ривердейл, в котором и кафешки и магазины,
                супер-маркеты.</p>
            <a href="#" class="btn btn--sm btn-orange">Забронировать место</a>

            <div class="contacts-item">
                <span class="contacts-label">инфо-лайн:</span>
                <div class="contacts-text">
                    <a href="tel:+7 (495) 987-65-43">+7 (495) 987-65-43</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--section hero-bottom-->

<div class="section section-hero-bottom section-bg bg-black"
     style="background-image: url(../images/cowork-hero-bg.jpg)">
    <div class="container">
        <div class="hero-logo"><img src="../images/svg/stangher-coworking-logo.svg" alt="logo"></div>
        <h2>Также предлагаем удобные рабочие <br>
            места в нашем коворкинге в этом же <br>
            комплексе @ Riverdale</h2>
        <a href="#" class="btn btn--lg btn-violet">Перейти к коворкингу</a>
    </div>
</div>
{% endblock %}


