
{% extends "layouts/_app.html" %}


{% block content %}

<div class="section">
    <div class="container">
        <div class="contact-us-hero">
            <div class="contact-us-hero__img">
                <img src="../images/svg/email.svg" alt="email">
            </div>
            <div class="contact-us-hero__content">
                <h1 class="title-h1">
                    Contact us
                </h1>
                <div class="contact-us-hero-description">
                    <p>Contact us, we will be very happy to talk with
                        you or provide useful information</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-silver">
    <div class="container">
        <div class="contact-us-list">
            <div class="contact-us-item">
                <div class="contact-us-item__img">
                    <img src="../images/svg/info.svg" alt="#">
                </div>
                <div class="contact-us-item__content">
                    <h4 class="title-h4 text-black">
                        For more information about
                        StanGher opportunities
                    </h4>
                    <a href="#" class="btn btn--lg btn-success js-open-modal" data-target="contactsModal">Write us here</a>
                </div>
            </div>
            <div class="contact-us-item">
                <div class="contact-us-item__img">
                    <img src="../images/svg/deal.svg" alt="#">
                </div>
                <div class="contact-us-item__content">
                    <h4 class="title-h4 text-black">
                        For work or partnership
                        relations
                    </h4>
                    <a href="#" class="btn btn--lg btn-success js-open-modal" data-target="feedbackModal">Write us here</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%include "modals/contacts.html" %}
{%include "modals/feedback.html" %}


{% endblock %}
