{% extends "layouts/_app.html" %}


{% block content %}
<div class="section hero-top section-bg bg-silver" style="background-image: url(../images/crihan-bg.jpg)">
    <div class="container">
        <div class="hero-info">
            <div class="hero-logo"><img src="../images/svg/stangher-guest-chisinau.svg" alt="logo"></div>
<!--            <div class="contacts-item">-->
<!--                <span class="contacts-label text-black">Info-line:</span>-->
<!--                <div class="contacts-text has-icon">-->
<!--                    <img src="../images/svg/phone-orange.svg" alt="phone">-->
<!--                    <a class="contacts-telephone" href="tel:+380 (57) 111-11-11">+380 (57) 111-11-11</a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="contacts-item">
                <span class="contacts-label text-black">Location:</span>
                <div class="contacts-text has-icon">
                    <img src="../images/svg/pin-orange.svg" alt="location">
                    <p class="text-black contacts-address">St. Anton Crihan 42, Chișinău, Moldova</p>
                </div>
            </div>
        </div>
        <h1>Cozy Guest House in an agrocultural <br>
            and ethnically interesting country</h1>
        <div class="description">
            <p>The residential StanGher Guest House is located in one of the most calmest and quietness places in Chisinau. Here we are ready to offer for our guests a comfortable and relaxed atmosphere during their visit.</p>
        </div>
        <div class="row-btn">
            <a href="#we-offer" class="btn btn--lg btn-orange">Choose apartment</a>
            <a href="#about-us" class="btn btn--lg btn-silver-2">Lear more</a>
        </div>
    </div>
</div>

<div class="section section-apart bg-silver">
    <div class="container">

        <div class="our-coworking our-apart" id="about-us">
            <h2>About Guest House</h2>
            <div class="description">
                <p>Our guest houses are perfectly equipped with everything you need for a comfortable stay.</p>
                <br>
                <p>Spacious living rooms, comfortable bedrooms, a beautiful courtyard all this awaits you in our homes. The space of houses will be comfortable both for a long stay and for a short visit for several days.</p>
                <br>
                <p>We offer you a cozy atmosphere and a pleasant welcome and are waiting for you to visit us!</p>
            </div>
            <div class="our-apart__img">
                <img src="../images/svg/crihan-house.svg" alt="apartments-loft">
            </div>
        </div>

        <div class="another-view">
            <div class="row v-center">
                <div class="another-view-content">
                    <h2 class="title-h2">Outside view</h2>
                    <p>The courtyard view is very pleasant and cozy!</p> <br>
                    <p>Swimming pool and private verandas, a pleasant common courtyard for guests of our guesthouse and swimming pool is waiting you here.</p>
                    <br>
                    <p>The space of the courtyard will be very convenient for rest, socializing and relaxation during pleasant evenings.</p>
                </div>
                <div class="offer-item offer-item-apart offer-item--col">
                    <div class="slider-wrap slider-apart">
                        <div class="offer-slider js-slider">
                            <div class="offer-img slider-item" style="background-image: url(../images/project-6.jpg)"></div>
                            <div class="offer-img slider-item" style="background-image: url(../images/loft-2.jpg)"></div>
                            <div class="offer-img slider-item" style="background-image: url(../images/loft-3.jpg)"></div>
                            <div class="offer-img slider-item" style="background-image: url(../images/loft-4.jpg)"></div>
                        </div>
                        <div class="slider-arrows">
                            <button class="slider-prev slider-arrow slider-arrow--orange  "></button>
                            <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange  "></button>
                        </div>
                        <div class="slider-dots slider-dots--orange">
                            <ul class="dots-items">
                                <li class="dot-item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="center">Guest House Features</h2>

        <div class="our-loft">
            <div class="feature-loft feature-loft--4-col">

                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/park.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Nice floral and
                        country view
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/private-courtyard.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Pleasant and
                        private courtyards
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/comfortable.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Comfortable and
                        spacious layout
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/swimming-pool.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Big and cozy
                        pool
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/bedroom.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Pleasant and
                        comfortable bedrooms
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/interior.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Nice interiors
                        and design
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/equipment.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Full apartment
                        equipment
                    </div>
                </div>
                <div class="feature-item text-black">
                    <div class="feature-item__img">
                        <img src="../images/svg/parking.svg" alt="feature-loft">
                    </div>
                    <div class="feature-item__text">
                        Private parking
                        places
                    </div>
                </div>
            </div>
        </div>

        <p class="center sub-title" id="we-offer"><span class="text-gradient-orange upper">WE OFFER</span></p>
        <h2 class="center">Nicesest apartments to spend your time</h2>
    </div>


    <div class="offer-wrap offer-wrap-apart">

        <div class="tabs tabs-wrap" id="booking-wrap">
            <div class="tabs__nav tabs__nav--orange">
                <span data-tab="tab-1" class="tabs__link  active">Аpartment rental</span>
                <span data-tab="tab-2" class="tabs__link">Full house rent</span>
            </div>
            <div class="tabs__content">
                <div id="tab-1" class="tabs__item active">
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-1.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-2.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange  "></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange  "></button>
                            </div>
                            <div class="slider-dots slider-dots--orange"></div>
                        </div>
                        <div class="offer-content">
                            <div class="row v-center">
                                <div class="offer-title">Apartment №1</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 2 guests</span>
                                </div>
                            </div>
                            <div class="offer-info-rooms">
                                <span class="badge badge-white">1 bathroom</span>
                                <span class="badge badge-white">1 bedroom</span>
                                <span class="badge badge-white">1 blacony</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort">
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="row v-center">
                                <div class="offer-price text-gradient-orange">$ 65 Per night</div>
                                <a href="#" class="btn btn--lg btn-orange">Book me</a>
                            </div>


                        </div>
                    </div>
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-2.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-1.jpg)"></div>
                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange"></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange"></button>
                            </div>
                            <div class="slider-dots slider-dots--orange">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                        <div class="offer-content">

                            <div class="row v-center">
                                <div class="offer-title">Apartment №2</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 2 guests</span>
                                </div>
                            </div>

                            <div class="offer-info-rooms">
                                <span class="badge badge-white">1 bedroom</span>
                                <span class="badge badge-white">1 blacony</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort ">
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="offer-price text-gradient-orange">$ 70 Per night</div>
                            <a href="#" class="btn btn--lg btn-orange">Book me</a>
                        </div>

                    </div>
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-2.jpg)"></div>
                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange  "></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange  "></button>
                            </div>
                            <div class="slider-dots slider-dots--orange"></div>
                        </div>
                        <div class="offer-content">
                            <div class="row v-center">
                                <div class="offer-title">Apartment №3</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 2 guests</span>
                                </div>
                            </div>
                            <div class="offer-info-rooms">
                                <span class="badge badge-white">1 bedroom</span>
                                <span class="badge badge-white">1 blacony</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort">
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="offer-price text-gradient-orange">$ 70 Per night</div>
                            <a href="#" class="btn btn--lg btn-orange">Book me</a>

                        </div>
                    </div>
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange  "></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange  "></button>
                            </div>
                            <div class="slider-dots slider-dots--orange"></div>
                        </div>
                        <div class="offer-content">

                            <div class="row v-center">
                                <div class="offer-title">Apartment №4</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 3 guests</span>
                                </div>
                            </div>
                            <div class="offer-info-rooms">
                                <span class="badge badge-white">1 bedrooms</span>
                                <span class="badge badge-white">1 blacony</span>
                                <span class="badge badge-white">1 living room</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort">
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="offer-price text-gradient-orange">$ 85 Per night</div>
                            <a href="#" class="btn btn--lg btn-orange">Book me</a>
                        </div>

                    </div>
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange"></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange slider-arrow--orange"></button>
                            </div>
                            <div class="slider-dots slider-dots--orange"></div>
                        </div>
                        <div class="offer-content">

                            <div class="row v-center">
                                <div class="offer-title">Apartment №5</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 2 guests</span>
                                </div>
                            </div>
                            <div class="offer-info-rooms">
                                <span class="badge badge-white">1 bedrooms</span>
                                <span class="badge badge-white">1 blacony</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort">
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="offer-price text-gradient-orange">$ 60 Per night</div>
                            <a href="#" class="btn btn--lg btn-orange">Book me</a>
                        </div>

                    </div>
                </div>
                <div id="tab-2" class="tabs__item">
                    <div class="offer-item offer-item-apart">
                        <div class="slider-wrap slider-apart">
                            <div class="offer-slider js-slider">
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/project-6.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-2.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-3.jpg)"></div>
                                <div class="offer-img slider-item"
                                     style="background-image: url(../images/apart-4.jpg)"></div>
                            </div>
                            <div class="slider-arrows">
                                <button class="slider-prev slider-arrow slider-arrow--orange"></button>
                                <button class="slider-next slider-arrow slider-arrow--orange slider-arrows--orange slider-arrow--orange"></button>
                            </div>
                            <div class="slider-dots slider-dots--orange"></div>
                        </div>
                        <div class="offer-content">
                            <div class="row v-center">
                                <div class="offer-title">Full house</div>
                                <div class="up-guests text-black"><img src="../images/svg/group.svg" alt="guests"><span>up to 10 guests</span>
                                </div>
                            </div>
                            <div class="offer-info-rooms">
                                <span class="badge badge-white">2 livingrooms</span>
                                <span class="badge badge-white">5 bedrooms</span>
                                <span class="badge badge-white">4 blaconies</span>
                                <span class="badge badge-white">1 pools</span>
                                <span class="badge badge-white">private parking</span>
                                <span class="badge badge-white">2 court yards</span>
                            </div>
                            <h5>Features</h5>
                            <ul class="offer-comfort">
                                <li class="offer-comfort__item"><img src="../images/svg/kitchen.svg" alt="кухня">Kichen
                                    & dining
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/mebel.svg" alt="мебель">Cozy
                                    interior
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/conditioner.svg"
                                                                     alt="Air conditioning">Air conditioning
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/shower.svg" alt="ванна">Private
                                    bathroom
                                </li>
                                <li class="offer-comfort__item"><img src="../images/svg/wifi.svg" alt="wi-fi">Wi-Fi</li>
                                <li class="offer-comfort__item"><img src="../images/svg/tv.svg" alt="телевизор">TV &
                                    multimedia
                                </li>
                            </ul>

                            <div class="row v-center">
                                <div class="offer-price text-gradient-orange">$ 350 Per night</div>
                                <a href="#" class="btn btn--lg btn-orange">Book me</a>
                            </div>

                        </div>
                    </div>


                    <div class="section bg-white">
                        <div class="container">
                            <div class="interior-wrap">
                                 <h3 class="title-h3 center">Interior and bedrooms view</h3>

                                <div class="slider-wrap slider-interior">
                                    <div class="offer-slider js-slider">
                                        <div class="offer-img slider-item">
                                            <img src="../images/project-6.jpg" alt="#">
                                        </div>
                                        <div class="offer-img slider-item">
                                            <img src="../images/project-6.jpg" alt="#">
                                        </div>
                                        <div class="offer-img slider-item">
                                            <img src="../images/HC-MLV-1-C1234.png" alt="#">
                                        </div>
                                        <div class="offer-img slider-item">
                                            <img src="../images/HC-MLV-1-C1234.png" alt="#">
                                        </div>
                                        <div class="offer-img slider-item">
                                            <img src="../images/HC-MLV-1-C1234.png" alt="#">
                                        </div>
                                        <div class="offer-img slider-item">
                                            <img src="../images/HC-MLV-1-C1234.png" alt="#">
                                        </div>
                                    </div>
                                    <div class="slider-arrows">
                                        <button class="slider-prev slider-arrow slider-arrow--orange"></button>
                                        <button class="slider-next slider-arrow slider-arrow--orange"></button>
                                    </div>
                                    <div class="slider-dots slider-dots--orange"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-about-complex bg-silver">
    <div class="container">
        <div class="about-complex">
            <div class="complex-description">
                <h2>About location</h2>
                <p>Our Guest House is located in the private sector of the city. The house is located in a pleasant natural sector near the city center and park area.
                </p>
                <br>
                <p>In this place it will be convenient to stay and spend time, as well as to get to any point of the city in the shortest possible time.</p>
            </div>
            <div class="complex-img">
                <img src="../images/chisinau-location.png" alt="complex">
                <a href="#we-offer" class="btn btn--lg btn-orange">Choose apartment</a>
            </div>
        </div>

        <h2 class="feature-title title-h2">Location features</h2>
        <div class="feature-list feature-list-location">
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/nice-weather.svg" alt="feature-img"></div>
                <div class="feature-item__text">Habitual European climate
                </div>
            </div>
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/handshake.svg" alt="feature-img"></div>
                <div class="feature-item__text">Business oportunities
                </div>
            </div>
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/cultural.svg" alt="feature-img"></div>
                <div class="feature-item__text">Сultural attractions
                </div>
            </div>
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/infrastructure.svg" alt="feature-img"></div>
                <div class="feature-item__text">Infrastructure spaces near
                </div>
            </div>
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/family.svg" alt="feature-img"></div>
                <div class="feature-item__text">Family and kind
                    atmosphere
                </div>
            </div>
            <div class="feature-item text-black">
                <div class="feature-item__img"><img src="../images/svg/shopping.svg" alt="feature-img"></div>
                <div class="feature-item__text">Shopping and
                    restaurants
                </div>
            </div>
        </div>


        <div class="interesting-places">
            <h2 class="title-h2">Interesting places nearby</h2>
            <div class="interesting-more">

                <div class="interesting-items">
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/Park%20and%20lake%20(Valea%20Morilor).png" alt="Trulli">
                            <span class="badge badge-white v-center"><img class="badge-img"
                                                                          src="../images/svg/walking.svg" alt="walking">10 min on foot</span>

                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">Park and lake (Valea Morilor)</h4>
                                <p>The name of the park is translated as "valley mills."
                                    On its territory there are an artificial lake of the same name, also there you can find attractions, exhibition center with an open-air museum displaying national sculpture, and several cafes.
                                </p>
                                <p>In the park of about 114 hectares, various exhibitions and concerts are held, and mass celebrations take place. Visitors can see here the monuments of the former Moldovian leaders.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/City%20center-chsinau.png" alt="Trulli">
                            <span class="badge badge-white"><img class="badge-img" src="../images/svg/car.svg"
                                                                 alt="walking">15 min by car</span>
                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">City center</h4>
                                <p>For guests of the city the most interesting will be the historic district, it is here that all the important sights and sightseeing facilities are located.
                                </p>
                                <p> Also a large selection of entertainment facilities, shops and restaurants will diversify the rest and make it even more enjoyable.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/National%20Museum%20of%20Ethnography.png" alt="Place Nam">
                            <span class="badge badge-white"><img class="badge-img" src="../images/svg/car.svg"
                                                                 alt="car">5 min by car</span>

                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">National Museum of Ethnography</h4>
                                <p>The museum’s collection contains geological, paleontological, zoological, entomological, archaeological, ethnographic and numismatic collections containing many valuable and even unique exhibits, such as the skeleton of the supergiant dynamite (Dinoterium Gigantisimus), archaeological finds. The museum’s foundation creates a scientific basis for research in various fields. The museum has a valuable scientific library.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/intresting-chisinau-4.jpg" alt="Trulli">
                            <span class="badge badge-white"><img class="badge-img" src="../images/svg/car.svg" alt="#">15 min by car</span>

                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">Stephen the Great Central Park</h4>
                                <p>This is the main park in Central Chişinău, Moldova. Formerly known as Pushkin Park, it is the oldest park in Moldova and spans about 7 hectares (17 acres). It has gained the nickname "The Park of the Lovers" in Chişinău due to its popularity as a meeting spot for couples. The park contains 50 species of trees, some of which are quite old, the mulberries and acacias being between 130 and 180 years.k</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/intresting-chisinau-5.jpg" alt="Trulli">
                            <span class="badge badge-white"><img class="badge-img" src="../images/svg/car.svg" alt="#">10 min by car</span>

                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">Business centers and working prospects</h4>
                                <p>The city of Chisinau is a strongly developing city in various business areas. The
                                    city has a lot of prospects for the development of business relations and the
                                    development of small and medium-sized businesses in the field of information
                                    technology, trade, agriculture and other promising areas.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="interesting-item interesting-item--col">
                        <figure class="interesting-item__img">
                            <img src="../images/intresting-chisinau-6.jpg" alt="Trulli">
                            <span class="badge badge-white">All around</span>

                            <figcaption class="interesting-item__content">
                                <h4 class="title-h4">Wine and food culture</h4>
                                <p>Moldova is a paradise. For thousands of years, grapes have been grown here, investing
                                    perseverance and devotion in their favorite business. Wine has become a symbol of
                                    the country, a stimulus for revival, a trophy of glory and victory. Also Chisinau is
                                    rich in restaurants of various directions, in the city there will be both
                                    fashionable gourmet establishments and modest family restaurants.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="bottom-hero">
            <img src="../images/svg/chisinau.svg" alt="chisinau">
            <h3 class="title-h3">Ready for a trip to Сhisinau?</h3>
            <a href="#we-offer" class="btn btn--lg btn-orange">Choose apartment</a>
        </div>
    </div>
</div>

<div class="section section-map ">
    <iframe class="location-map" src="https://yandex.ua/map-widget/v1/-/CBFcj4r7xD" width="100%" height="100%"
            frameborder="1" allowfullscreen="true"></iframe>
    <div class="container">
        <div class="location-contacts bg-silver">
            <h2 class="title-h2">Location</h2>

            <div class="contacts-item">
                <div class="contacts-text has-icon">
                    <img src="../images/svg/pin-orange.svg" alt="location">
                    <p class="text-black contacts-address">St. Anton Crihan 42, Chișinău, Moldova</p>
                </div>
            </div>
            <p>Our Guest House is located in the private sector of the city. The house is located in a pleasant natural sector near the city center and park area.</p>
            <p>In this place it will be convenient to stay and spend time, as well as to get to any point of the city in the shortest possible time.</p>

            <a href="#we-offer" class="btn btn--lg btn-orange">Choose apartment</a>

<!--            <div class="contacts-item">-->
<!--                <span class="contacts-label text-black">Info Line:</span>-->
<!--                <div class="contacts-text">-->
<!--                    <a class="contacts-telephone" href="tel:+380 (57) 111-11-11">+380 (57) 111-11-11</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>

<!--<div class="section bg-silver">-->
<!--<div class="container">-->
<!--<h2 class="center">Так же вас может заинтересовать</h2>-->
<!--</div>-->
<!--</div>-->

<!--section hero-bottom-->


<div class="section section-pt-6 bg-silver">
    <div class="container">
        <div class="our-places">
            <h2 class="center">Other places which you might like</h2>
            <div class="place-items">
                <a href="about-project-moscow.html" class="place-item overlay" style="background-image: url('../images/moscow.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Moscow</div>
                        <div class="place-info__country">Russia</div>
                        <div class="place-info__projects">3 projects</div>
                    </div>
                    <img src="../images/svg/moscow.svg" class="place-icon">
                </a>
                <a href="about-project-pattaya.html" class="place-item overlay" style="background-image: url('../images/pattaya.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Pattaya</div>
                        <div class="place-info__country">Thailand</div>
                        <div class="place-info__projects">3 projects</div>
                    </div>
                    <img src="../images/svg/pattaya.svg" class="place-icon">
                </a>
            </div>
            <div class="btn-row center">
                <a href="projects.html" class="btn btn-silver-2 btn--lg">Go to all locations</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


