{% extends "layouts/_app.html" %}


{% block content %}

<div class="section home-ideas">
    <div class="home-ideas__content" style="background-image: url(../images/svg/home-pattern-bg.svg)">
        <div class="container">
            <h1 class="title-h1">Good ideas for <br>
                new expirience in <br>
                Work & Living traveling</h1>
            <a href="#" class="btn btn-silver-2 btn--lg">Check our places</a>
        </div>
    </div>
    <div class="home-ideas__img">
        <img src="../images/svg/home-hero-bg.svg" alt="home">
    </div>
</div>

<div class="section stangher-ideas ideas-path-img" >
    <div class="stangher-ideas__img">
        <img src="../images/svg/home-stangher-ideas.svg" alt="ideas">
    </div>
    <div class="container">
        <div class="stangher-ideas-content">
            <h2 class="title-h2">StanGher ideas</h2>
            <div class="description">
                <p>The goal of StanGher is to create new good ideas and projects around the world for pleasant communication, meetings, work and expirience sharing beetwen interesting people in interesting places.</p>
                <br>
                <p>We are fully open for ideas and exicited for new guests in our community!</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-places">
            <h2 class="center">Our places</h2>
            <div class="description">We explore more and more interesting places.
                And we want to share it you to have pleasant time with
                nice people in nicest places around the world.
                Check it out!</div>
            <div class="place-items">
                <a href="#" class="place-item overlay" style="background-image: url('../images/moscow.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Moscow</div>
                        <div class="place-info__country">Russia</div>
                        <div class="place-info__projects">3 projects</div>
                    </div>
                    <img src="../images/svg/moscow.svg" class="place-icon">
                </a>
                <a href="#" class="place-item overlay" style="background-image: url('../images/pattaya.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Pattaya</div>
                        <div class="place-info__country">Thailand</div>
                        <div class="place-info__projects">2 projects</div>
                    </div>
                    <img src="../images/svg/pattaya.svg" class="place-icon">
                </a>
                <a href="#" class="place-item overlay" style="background-image: url('../images/chisinau.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Chisinau</div>
                        <div class="place-info__country">Moldova</div>
                        <div class="place-info__projects">1 project</div>
                    </div>
                    <img src="../images/svg/chisinau.svg" class="place-icon">
                </a>
                <a href="#" class="place-item overlay" style="background-image: url('../images/alicante.jpg')">
                    <div class="place-info">
                        <div class="place-info__city">Alicante</div>
                        <div class="place-info__country">Spain</div>
                        <div class="place-info__projects">1 project</div>
                    </div>
                    <img src="../images/svg/alicante.svg" class="place-icon">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-projects">
            <h2 class="title-h2 center">About projects</h2>
            <div class="description">Our projects are design to be pleasant and get as much comfort as posible for average or expirienced travellers. Our spaces are perfect for meetings, teamwork, recreation and tourism. In our places you will find it convenient to work, meet new people, and spend your time with pleasure.</div>
            <div class="about-project-list">
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/travel-explore.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Travel and explore</h4>
                        <p>Discover new places and meet new people! We whant you to check out
                            new opportunities of different places. Our projects helps to get as much
                            comfort for travelling and explore events.</p>
                    </div>

                </div>
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/work-share.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Work and share</h4>
                        <p>Our projects is the best place to work and meet new people. We give to our guests a pleasant time to improve their work</p>
                    </div>
                </div>
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/live-relax.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Live and relax</h4>
                        <p>Our projects are designed for maximum comfort for our guests. you will always be comfortable to spend time with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2 class="title-h2 center">Our projects</h2>
            <div class="project-items">
                <div class="project-item">
                    <div class="project-item__img bg-cover" style="background-image: url(../images/project-1.jpg)"></div>
                    <div class="project-item__content bg-black">
                        <div class="logo"><img src="../images/svg/stangher-coworking-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find excellent opportunities for cooperation, and also enjoy your work time pleasantly and productively.</p>
                        <a href="#" class="btn btn--lg btn-violet">Learn more</a>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-item__img bg-cover" style="background-image: url(../images/project-2.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-riverdale-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find excellent opportunities for cooperation, and also enjoy your work time pleasantly and productively.</p>
                        <a href="#" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-item__img bg-cover" style="background-image: url(../images/project-3.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-loftclub-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find excellent opportunities for cooperation, and also enjoy your work time pleasantly and productively.</p>
                        <a href="#" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="btn-row center">
                <a href="#" class="btn btn-silver-2 btn--lg">All projects</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}




