{% extends "layouts/_app.html" %}

{% set title = 'Good Ideas for a new Experience in  Work & Living Traveling | StanGher' %}
{% set description = 'The goal of StanGher is to create new good ideas and projects around the world for pleasant communication, meetings, work and experience sharing between interesting people in interesting places. We are fully open for ideas and excited for new guests in our community!' %}

{% block content %}

<div class="section home-ideas">
    <div class="home-ideas__content" style="background-image: url(../images/svg/home-pattern-bg.svg)">
        <div class="container">
            <h1 class="title-h1">Good ideas for <br>
                new experience in <br>
                Work & Living traveling</h1>
            <a href="#our-places" class="btn btn-silver-2 btn--lg">Check our places</a>
        </div>
    </div>
    <div class="home-ideas__img">
        <img src="../images/svg/home-hero-bg.svg" alt="home">
    </div>
</div>

<div class="section stangher-ideas ideas-path-img" >
    <div class="stangher-ideas__img">
        <img src="../images/svg/home-stangher-ideas.svg" alt="ideas">
    </div>
    <div class="container">
        <div class="stangher-ideas-content">
            <h2 class="title-h2">StanGher ideas</h2>
            <div class="description">
                <p>The goal of StanGher is to create new good ideas and projects around the world for pleasant communication, meetings, work and experience sharing between interesting people in interesting places.</p>
                <br>
                <p>We are fully open for ideas and excited for new guests in our community!</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-places" id="our-places">
            <h2 class="center">Our places</h2>
            <div class="description">We explore more and more interesting places.
                And we want to share it you to have pleasant time with
                nice people in nicest places around the world.
                Check it out!</div>
            {% include 'modules/_our-place.html' %}
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-projects">
            <h2 class="title-h2 center">About projects</h2>
            <div class="description">Our projects are design to be pleasant and get as much comfort as posible for average or experienced travellers. Our spaces are perfect for meetings, teamwork, recreation and tourism. In our places you will find it convenient to work, meet new people, and spend your time with pleasure.</div>
            <div class="about-project-list">
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/travel-explore.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Travel and explore</h4>
                        <p>Discover new places and meet new people! We want you to check out
                            new opportunities of different places. Our projects helps to get as much
                            comfort for travelling and explore events.</p>
                    </div>

                </div>
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/work-share.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Work and share</h4>
                        <p>Our projects is the best place to work and meet new people. We give to our guests a pleasant time to improve their work.</p>
                    </div>
                </div>
                <div class="about-project__item">
                    <div class="about-project__img">
                        <img src="../images/svg/live-relax.svg" alt="about-projects">
                    </div>
                    <div class="about-project__content">
                        <h4>Live and relax</h4>
                        <p>Our projects are designed for maximum comfort for our guests. you will always be comfortable to spend time with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2 class="title-h2 center">Our projects</h2>
            <div class="project-items">
                {% include './modules/projects/_moscow-coworking.html'%}
                {% include './modules/projects/_moscow-apart.html'%}
                {% include './modules/projects/_moscow-apart-loft.html'%}
            </div>
            <div class="btn-row center">
                <a href="projects.html" class="btn btn-silver-2 btn--lg">All projects</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}






