{% extends "layouts/_app.html" %}


{% block content %}

<div class="container">
    <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="about-project-lviv.html">about-project</a></li>
        <li><a href="locations.html">locations</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="contact-us.html">contact-us</a></li>
        <li><a href="about-us.html">about-us</a></li>
        <li><a href="modals.html">modals</a></li>
        <li>
            <hr>
        </li>
        <li><a href="coworking-moscow.html">coworking-moscow</a></li>
        <li><a href="coworking-lviv.html">coworking-lviv</a></li>
        <li>
            <hr>
        </li>
        <li><a href="apartments-moscow.html">apartments-moscow</a></li>
        <li><a href="apartments-loft-moscow.html">apartments-loft-moscow</a></li>
        <li><a href="apartments-chisinau.html">apartments-chisinau</a></li>
        <li><a href="apartments-lviv.html">apartments-lviv</a></li>
        <li><a href="guest-house-chisinau.html">guest-house-chisinau</a></li>
        <li><a href="guest-house-alicante.html">guest-house-alicante</a></li>
        <li><a href="guest-house-pattaya.html">guest-house-pattaya</a></li>
        <li>
            <hr>
        </li>
    </ul>
</div>

{% endblock %}


