{% extends "layouts/_app.html" %}

{% set title = 'Locations' %}
{% set description = 'We explore more and more interesting places.
And we want to share it you to have pleasant time with
nice people in nicest places around the world.
Check it out!' %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="location">
            <div class="location-img">
                <img src="../images/svg/location.svg" alt="location">
            </div>
            <div class="location-content">
                <h1 class="title-h1">Locations</h1>
                <div class="description">We explore more and more interesting places.
                    And we want to share it you to have pleasant time with
                    nice people in nicest places around the world.
                    Check it out!</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-places">
            <h2 class="center">Our places</h2>
            {% include 'modules/_our-place.html' %}
        </div>
    </div>
</div>



{% endblock %}




