{% extends "layouts/_app.html" %}


{% block content %}

<div class="section ideas">
    <div class="container">
        <h1></h1>
        <a href="#" class="btn btn-silver btn--lg"></a>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-places">
            <h2></h2>
            <div class="description"></div>
            <div class="place-items">
                <div class="place-item" style="background-image: url('../images/apart-1.jpg')">
                    <div class="place-info">
                        <div class="place-info__city"></div>
                        <div class="place-info__country"></div>
                        <div class="place-info__projects"></div>
                    </div>
                    <div class="place-icon"></div>
                </div>
                <div class="place-item" style="background-image: url('../images/apart-1.jpg')">
                    <div class="place-info">
                        <div class="place-info__city"></div>
                        <div class="place-info__country"></div>
                        <div class="place-info__projects"></div>
                    </div>
                    <div class="place-icon"></div>
                </div>
                <div class="place-item" style="background-image: url('../images/apart-1.jpg')">
                    <div class="place-info">
                        <div class="place-info__city"></div>
                        <div class="place-info__country"></div>
                        <div class="place-info__projects"></div>
                    </div>
                    <div class="place-icon"></div>
                </div>
                <div class="place-item" style="background-image: url('../images/apart-1.jpg')">
                    <div class="place-info">
                        <div class="place-info__city"></div>
                        <div class="place-info__country"></div>
                        <div class="place-info__projects"></div>
                    </div>
                    <div class="place-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-projects">
            <h2></h2>
            <div class="description"></div>
            <div class="about-project-list">
                <div class="about-project__item">
                    <img src="" alt="about-projects">
                    <h4></h4>
                    <div class="description"></div>
                </div>
                <div class="about-project__item">
                    <img src="" alt="about-projects">
                    <h4></h4>
                    <div class="description"></div>
                </div>
                <div class="about-project__item">
                    <img src="" alt="about-projects">
                    <h4></h4>
                    <div class="description"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2></h2>
            <div class="our-projects__item"></div>
            <div class="our-projects__item"></div>
            <div class="our-projects__item"></div>
            <div class="btn-row">
                <a href="#" class="btn btn-silver btn--lg"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}




