{% extends "layouts/_app.html" %}


{% block content %}

<div class="section">
    <div class="container">
        <div class="projects">
            <div class="projects-img">
                <img src="../images/svg/projects.svg" alt="location">
            </div>
            <div class="projects-content">
                <h1 class="title-h1">Our projects</h1>
                <div class="description">Our projects are design to be pleasant and get as much comfort as posible for
                    average or expirienced travellers. Our spaces are perfect for meetings, teamwork, recreation and
                    tourism. In our places you will find it convenient to work, meet new people, and spend your time
                    with pleasure.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <div class="project-items">
                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-1.jpg)"></div>
                    <div class="project-item__content bg-black">
                        <div class="logo"><img src="../images/svg/stangher-coworking-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="coworking.html" class="btn btn--lg btn-violet">Learn more</a>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-2.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-riverdale-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="apartments.html" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>

                <div class="project-item">
                    <div class="project-item__img bg-cover"
                         style="background-image: url(../images/project-3.jpg)"></div>
                    <div class="project-item__content bg-silver">
                        <div class="logo"><img src="../images/svg/stangher-aparts-loftclub-logo.svg" alt="logo"></div>
                        <h3 class="title-h3">Best replacement for
                            boring and cramped offices</h3>
                        <p class="description">Here you can get useful contacts, exchange professional experience, find
                            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
                            productively.</p>
                        <a href="apartments-loft.html" class="btn btn--lg btn-orange">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




