{% extends "layouts/_app.html" %}

{% set title = 'StanGher real estate projects | StanGher' %}
{% set description = 'Our projects are design to be pleasant and get as much comfort as posible for
average or experienced travellers. Our spaces are perfect for meetings, teamwork, recreation and
tourism. In our places you will find it convenient to work, meet new people, and spend your time
with pleasure.' %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="projects">
            <div class="projects-img">
                <img src="../images/svg/projects.svg" alt="location">
            </div>
            <div class="projects-content">
                <h1 class="title-h1">Our projects</h1>
                <div class="description">Our projects are design to be pleasant and get as much comfort as posible for
                    average or experienced travellers. Our spaces are perfect for meetings, teamwork, recreation and
                    tourism. In our places you will find it convenient to work, meet new people, and spend your time
                    with pleasure.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-silver">
    <div class="container">
        <div class="venture-projects" id="venture-projects">
            <h2 class="title-h2 center">Venture Fund projects</h2>
            <div class="venture-projects-logo center">
                <img src="../images/svg/lextools-logo.svg" alt="lextools">
            </div>
            <div class="venture-projects-description">
                A developer company wich is a home of all our legal technologies. We have a big experience in legal market products and services. Our team is group of professionals who is making legal servicess more advanced and simplier for all.
            </div>
            <div class="venture-projects-list">
                <div class="venture-projects-item">
                    <div class="venture-projects-item__logo">
                        <img src="../images/svg/zakon-partner-logo.svg" alt="закон партнер">
                    </div>
                    <div class="venture-projects-item__description">
                        A company and CPA & CPL platform for independent lawyers and lawyer companies. We want to give new opportunities to get a new level of law services to you and our clients.
                    </div>
                </div>
                <div class="venture-projects-item">
                    <div class="venture-projects-item__logo">
                        <img src="../images/svg/lex-profit-logo.svg" alt="lex-profi">
                    </div>
                    <div class="venture-projects-item__description">
                        CPA & CPL platform for webmasters and marketing advertisers. Our services is to giving work for legal market and unite the supply and demand.
                    </div>
                </div>
                <div class="venture-projects-item">
                    <div class="venture-projects-item__logo">
                        <img src="../images/svg/lawcrm-logo.svg" alt="lawcrm">
                    </div>
                    <div class="venture-projects-item__description">
                        Legal tech CPL tool for simple and proper management in law service market. Law CRM is a great tool managing relationships between customers and lawyers much more easier.
                    </div>
                </div>
            </div>
            <div class="venture-projects-others">
                <p class="sub-title center">and more than 10 projects <br>
                    under non-disclosure agreement</p>
                <div class="venture-projects-others__list">
                    <div class="venture-projects-others-item">
                        <div class="venture-projects-others-item__logo">
                            <img src="../images/others-projects.png" alt="#">
                        </div>
                    </div>
                    <div class="venture-projects-others-item">
                        <div class="venture-projects-others-item__logo">
                            <img src="../images/svg/rentabelno-logo.svg" alt="рентабельно">
                        </div>
                        <div class="venture-projects-others-item__description">
                            A company and also a managment tool to control real estate work.
                            We provide a wide spectrum of services to administrate our property
                            for rent or sale needs.
                        </div>
                    </div>
                    <div class="venture-projects-others-item">
                        <div class="venture-projects-others-item__logo">
                            <img src="../images/svg/pups-logo.svg" alt="пупс">
                        </div>
                        <div class="venture-projects-others-item__description">
                            Online clothing shop for moms and their babies!
                            Our store is based on the principles of natural parenthood - harmonious and healthy childbearing and parenting.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="our-projects">
            <h2 class="title-h2 center">StanGher real estate projects</h2>
            <div class="project-items">
                {% include './modules/projects/_moscow-coworking.html'%}
                {% include './modules/projects/_moscow-apart.html'%}
                {% include './modules/projects/_moscow-apart-loft.html'%}
                {% include './modules/projects/_pattaya-guesthouse.html'%}
                {% include './modules/projects/_alicante-guesthouse.html'%}
                {% include './modules/projects/_chisinau-guesthouse.html'%}
                {% include './modules/projects/_chisinau-aparthotel.html'%}
                {% include './modules/projects/_lviv-coworking-apart.html'%}
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="estate-projects">
            <h2 class="title-h2 center">Other real estate projects</h2>
            <div class="estate-projects-list">
                <div class="estate-projects-wrap">
                    <a href="http://akvareli.org" target="_blank" class="estate-projects-item overlay" style="background-image: url(../images/akvareli-bg.jpg)">
                        <div class="estate-projects-info">
                            <div class="estate-projects-item__logo">
                                <img src="../images/svg/akvareli-icon.svg" alt="akvarel">
                            </div>
                            <div class="estate-projects-item__title">
                                Akvareli.org
                            </div>
                            <div class="estate-projects-item__description">
                                more than 70 apartments
                                and parkings for rent.
                            </div>
                        </div>
                    </a>
                </div>


                <div class="estate-projects-wrap">
                    <a href="http://loft61.ru" target="_blank" class="estate-projects-item overlay" style="background-image: url(../images/61-loft-bg.jpg)">
                        <div class="estate-projects-info">
                            <div class="estate-projects-item__logo">
                                <img src="../images/svg/61-icon.svg" alt="61">
                            </div>
                            <div class="estate-projects-item__title">
                                LOFT61
                            </div>
                            <div class="estate-projects-item__description">
                                luxury loft apartment
                            </div>
                        </div>
                    </a>
                </div>
                <div class="estate-projects-wrap">
                    <a href="https://theloft.club" target="_blank" class="estate-projects-item overlay" style="background-image: url(../images/tehnoloft-bg.jpg)">
                        <div class="estate-projects-info">
                            <div class="estate-projects-item__logo">
                                <img src="../images/svg/techno-loft-icon.svg" alt="tehnoloft">
                            </div>
                            <div class="estate-projects-item__title">
                                Techno Loft
                            </div>
                            <div class="estate-projects-item__description">
                                office spaces for rent
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <p class="sub-title center">...and others which don’t need <br>
                any public promotion!</p>
        </div>
    </div>
</div>

<div class="section section-more-info section-bg" style="background-image: url(../images/write-bg.jpg)">
    <div class="container">
        {%include 'modules/_more-info.html' %}
    </div>
</div>

{%include "modals/contacts.html" %}

{% endblock %}




