.footer {
  &-top {
    padding: rem(60px 0 32px 0);
    border-bottom: 1px solid #4a4a4a;
    display: flex;
    nav {
      display: flex;
      flex-direction: column;
      padding-left: rem(150px);
      a {
        font-size: rem(13px);
        color: $white;
        margin-bottom: rem(20px);
        display: inline-block;
      }
    }

  }
  &-logo {
    text-align: center;
    a {
      display: inline-block;
    }
  }

  &-copyright {
    font-size: rem(11px);
    color: #d5d5d5;
    text-align: center;
    margin-top: rem(20px);
  }

  &-bottom {
    padding: rem(20px 0);
    nav {
      a {
        font-size: rem(13px);
        color: #909090;
        margin: rem(0 0 0 80px);
      }
    }
  }
}

.col-logo {
  padding-left: rem(75px);
}

.subscribe {
  padding-left: rem(120px);
  &-social {
    margin-bottom: rem(25px);
  }
  &-item {
    p {
      font-size: 16px;
      line-height: rem(24px);
      color: #989898;
      font-weight: 700;
      margin-bottom: rem(15px);
    }
  }
}

.form-subscribe {
  width: rem(350px);
  position: relative;
  .form-control {
    width: 100%;
    height: 46px;
  }
  button {
    width: 46px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: $grey;
    cursor: pointer;
  }
}

.social-link {
  display: flex;
  a {
    display: block;
    margin-right: rem(15px);
  }
}

