
.header {
  background: $white;
  flex: 0 0 auto;
  @include respond-to(xs) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    box-shadow: 0 0 6px rgba(40, 38, 39, 0.7);
    &.no-fixed {
      position: absolute;
      z-index: inherit;
      box-shadow: none;
    }
  }
  &-wrap {
    height: 55px;
    display: flex;
    align-items: center;
  }
  &-logo {
    margin-right: 75px;
    padding-top: 6px;
    @include respond-to(sm) {
      margin-right: rem(40px);
    }
  }
  &-nav {
    display: inline-flex;
    @include respond-to(xs) {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      display: flex;
      flex-direction: column;
      padding: rem(50px 20px);
      transform: translateX(100vw);
      height: 100vh;
      width: 0;
      background-color: $white;
      transition: transform .4s ease-in-out;
    }
    &.open {
      top: 0;
      opacity: 1;
      width: 80vw;
      transform: translateX(0vw);
      visibility: visible;
      right: 0;
      z-index: 300;
      box-shadow: 0 0 15px rgba(40, 38, 39, 0.7);
      padding-left: rem(30px);
      a{
        font-size: rem(16px);
        font-weight: 700;
        display: block;
        margin: rem(10px 0);
      }
    }
    a {
      font-size: rem(13px);
      display: inline-block;
      margin-right: 50px;
      color: $black-header;
      transition: color .2s linear;
      @include respond-to(sm) {
        margin-right: rem(30px);
      }
      &:hover{
        color: $violet;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    @include respond-to(xs) {
      background-color: $white;
    }
  }
}
.switch-lang {
  display: inline-flex;
  margin-right: rem(80px);
  cursor: pointer;
  position: relative;
  padding-right: rem(15px);
  @include respond-to(sm) {
    margin-right: rem(30px);
  }
  &:after {
    content: '';
    border: rem(4px) solid transparent;
    border-top: rem(6px) solid $black  ;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: 0;
  }
  &__drop {
    display: none;
    background-color: $white;
    padding: rem(5px 10px);
  }
  &.open {
      .switch-lang__drop{
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 10px;
        z-index: 50;
        display: inline-flex;
        flex-direction: column;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba($black, 0.5);
        .switch-lang__item{
          margin: 5px 0;
          &:hover {
            color: $violet;
          }
        }
      }
  }
  &__item{
    font-size: rem(13px);
    font-weight: 900;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

  }
  &__name {
    margin-left: 10px;
    position: relative;
    top: 1px;
  }
}

// hamurger


.hamburger {
  display: none;
  @include respond-to(xs) {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    right: 15px;
    z-index: 320;
  }
  .line {
    display: block;
    width: 36px;
    height: 4px;
    background-color: $grey;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    &:nth-child(1) {
      background-color: $orange;
    }
  }
  &.is-active {
    position: fixed;
    .line:nth-child(1) {
      transform: translate(3px, 2px) rotate(45deg);
      width: 14px;
    }
    .line:nth-child(2) {
      transform: rotate(-45deg);
      width: 36px;
    }
    .line:nth-child(3) {
      transform: translate(12px, 2px) rotate(45deg);
      width: 18px;
      transform-origin: bottom right;
    }
  }
}

