
.header {
  background: transparent;
  flex: 0 0 auto;
  z-index: 100;
  @include respond-to(xs) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    background: $white;
    box-shadow: 0 0 6px rgba(40, 38, 39, 0.7);
  }
  &-wrap {
    height: 55px;
    display: flex;
    align-items: center;
  }
  &-logo {
    margin-right: 75px;
    padding-top: 6px;
    @include respond-to(sm) {
      margin-right: rem(40px);
    }
  }
  &-nav {
    display: inline-flex;
    @include respond-to(xs) {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      display: flex;
      top: 55px;
      z-index: 300;
      flex-direction: column;
      padding: rem(25px);
      transform: translateX(100vw);
      height: calc(100vh - 55px);
      width: 60vw;
      background-color: $white;
      transition: all 0.4s ease-in-out;
      a {
        font-size: rem(14px);
        font-weight: 400;
        display: block;
        margin-bottom: rem(25px);
        color: #322f31;
      }
    }
    &.open {
      opacity: 1;
      visibility: visible;
      position: fixed;
      display: flex;
      flex-direction: column;
      padding: rem(27px 10px 25px 25px);
      transform: translateX(40vw);
      height: calc(100vh - 53px);
      background-color: $white;
      transition: all 0.4s ease-in-out;
      top: 53px;

    }
    a {
      font-size: rem(13px);
      display: inline-block;
      margin-right: 50px;
      color: $black-header;
      transition: color .2s linear;
      @include respond-to(sm) {
        margin-right: rem(30px);
      }
      &:hover {
        color: $violet;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    @include respond-to(xs) {
      background-color: $white;
    }
  }
}

.switch-lang {
  display: inline-flex;
  margin-right: rem(80px);
  cursor: pointer;
  position: relative;
  padding-right: rem(15px);
  //height: 100%;
  @include respond-to(sm) {
    margin-right: rem(30px);
  }
  &:after {
    content: '';
    border: rem(4px) solid transparent;
    border-top: rem(5px) solid $black;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: 0;
  }
  &__drop {
    display: none;
    background-color: $white;
    padding: rem(8px 12px);
  }
  &.open {
    .switch-lang__drop {
      position: absolute;
      top: calc(100% + 16px);
      left: -12px;
      z-index: 50;
      display: inline-flex;
      flex-direction: column;
      background: $white;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
      width: 90px;
      border-top: 3px solid $black;
      .switch-lang__item {
        margin: 5px 0;
        &:hover {
          color: $violet;
        }
      }
    }
  }
  &__item {
    font-size: rem(13px);
    font-weight: 900;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    img {
      width: 23px;
      height: 15px;
    }
  }
  &__name {
    margin-left: 10px;
    position: relative;
  }
}

// hamurger

.hamburger {
  display: none;
  @include respond-to(xs) {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    right: 15px;
    z-index: 320;
  }
  .line {
    display: block;
    width: 36px;
    height: 4px;
    background-color: $grey;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    //&:nth-child(1) {
    //  background-color: $orange;
    //}
  }
  &.is-active {
    position: fixed;
    .line:nth-child(1) {
      transform: translate(4px, 4px) rotate(45deg);
      width: 18px;
    }
    .line:nth-child(2) {
      transform: rotate(-45deg);
      width: 36px;
    }
    .line:nth-child(3) {
      transform: translate(12px, 2px) rotate(45deg);
      width: 18px;
      transform-origin: bottom right;
    }
  }
}

