
.wrapper {

  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;

}

main {
  &.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    @include respond-to(xs) {
      padding-top: rem(55px);
    }
  }
}


.overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(#322f31, 0.8);
    transition: background-color 0.2s ease-in-out;
  }
}

.sub-title {
  font-weight: 900;
  margin-bottom: rem(10px);

  + h2 {
    margin-bottom: 40px;
  }
}

.text-gradient-violet {
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  //background: -webkit-gradient($violet-gradient); /* for webkit browsers */
  //background: -moz-linear-gradient($violet-gradient); /* for firefox 3.6+ */
  background: $violet-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
  background: $orange-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// -------------- hero top -------------

.hero-top {
  .hero-logo {
    margin-right: rem(160px);
    @include respond-to(md) {
      margin-right: rem(120px);
    }
    @include respond-to(sm) {
      margin-right: rem(50px);
      max-width: 220px;
    }
    @include respond-to(xs) {
      margin-bottom: rem(30px);
      max-width: 100%;
    }
    @include respond-to(es) {
      margin-bottom: rem(15px);
    }
  }

  .text-gradient-violet {
    font-weight: 700;
    font-size: rem(20px);
    margin-bottom: rem(30px);
  }

  .hero-info {
    margin-bottom: rem(40px);
    @include respond-to(xs) {
      margin-bottom: rem(20px);
    }
    @include respond-to(es) {
      margin-bottom: rem(10px);
    }
  }

  h1 {
    margin-bottom: rem(40px);
    @include respond-to(es) {
      margin-bottom: rem(20px);
    }
  }

  .description {
    margin-bottom: rem(40px);
    padding-right: rem(480px);

    p {
      line-height: rem(20px);
    }

    @include respond-to(md) {
      padding-right: rem(420px);
    }
    @include respond-to(sm) {
      padding-right: rem(200px);
    }
    @include respond-to(xs) {
      padding-right: 0;
    }
  }

  .btn-violet,
  .btn-orange {
    margin-right: rem(15px);
  }

  .btn {
    @include respond-to(es) {
      width: 100%;
      text-align: center;
      margin-bottom: rem(20px);
    }
  }

  .row-sale {
    margin-bottom: rem(30px);
  }

  .sale-label {
    margin-right: rem(34px);
    margin-bottom: rem(15px);
  }

  .row-btn {
    @include respond-to(es) {
      width: 70%;
    }

    .btn {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hero-info {
  display: flex;
  @include respond-to(xs) {
    flex-direction: column;
  }

  .contacts-item {
    margin-right: rem(128px);
    @include respond-to(md) {
      margin-right: rem(60px);
    }
    @include respond-to(sm) {
      margin-right: rem(30px);
    }
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
    @include respond-to(es) {
      margin-bottom: rem(15px);
    }
  }
}

.contacts-item {
  color: $white;

  &:last-child {
    margin-right: 0;
  }

  .contacts-label {
    font-size: rem(12px);
    margin-bottom: 3px;
    display: block;
    font-weight: 400;
    padding-left: rem(24px);
  }

  .contacts-text {
    position: relative;

    &.has-icon {
      padding-left: rem(24px);
    }

    img {
      margin-right: rem(8px);
      position: absolute;
      top: 1px;
      left: 0;
    }
  }
}

.contacts-address,
.contacts-telephone {
  font-size: rem(14px);
  font-weight: 700;
}

// hero bottom

.hero-bottom {
  .hero-logo {
    margin-bottom: rem(40px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }

  h2 {
    margin-bottom: rem(40px);
  }

  .btn-orange {
    padding-right: rem(30px);
    padding-left: rem(30px);
  }
}

.hero-bottom--loft {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(xs) {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .title-section {
    padding: rem(40px 0);
  }
}

.hero-apart,
.hero-coworking {
  width: 50%;
  padding: rem(40px 70px 80px);
  @include respond-to(sm) {
    padding: rem(40px 30px 40px);
  }
  @include respond-to(xs) {
    width: 100%;
    padding: rem(40px 15px);
  }
}

.hero-apart {
  //padding-left: calc((100vw - 1170px) / 2 );
  //padding-left: rem(70px);
}

.hero-coworking {
  //padding-right: calc((100vw - 1170px) / 2 + 15px);
  //padding-left: rem(70px);
}

//---------------- about coworking --------

.our-coworking {
  position: relative;
  margin-bottom: rem(170px);
  display: flex;
  flex-wrap: wrap;
  @include respond-to(xs) {
    margin-bottom: rem(40px);
  }

  h2 {
    margin-bottom: rem(26px);
    width: 100%;
    @include respond-to(xs) {
      position: relative;
      z-index: 10;
    }
  }

  .description {
    width: 48%;
    display: inline-block;
    padding-right: rem(40px);
    @include respond-to(xs) {
      width: 100%;
      position: relative;
      z-index: 10;
      padding-right: 0;
    }
  }

  &__img {
    position: absolute;
    right: rem(128px);
    top: rem(-50px);
    @include respond-to(md) {
      right: 0;
      top: 0;
      text-align: right;
    }
    @include respond-to(sm) {
      right: 0;
      top: 0;
      text-align: right;
      svg {
        width: 100%;
      }
    }
    @include respond-to(xs) {
      position: static;
      text-align: center;
      margin-top: rem(40px);
      svg {
        width: 60%;
        height: auto;
      }
    }
    //svg {
    //  @include respond-to(es) {
    //    opacity: 0.3;
    //  }
    //}
  }

  &.our-apart {
    margin-bottom: rem(50px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }
}

//  about apart

.our-apart {
  .description {
    display: inline-block;
    color: $black-header;

    p {
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }

  &__img {
    //float: right;
    width: 52%;
    padding-right: 30px;
    text-align: center;
    //margin-top: -40px;

    svg {
      width: 100%;
    }

    @include respond-to(xs) {
      width: 100%;
      margin-top: rem(20px);
      padding-right: 0;
    }
  }
}

// --------------- offer ----------

.offer-wrap {
  margin-top: rem(20px);
  margin-bottom: rem(50px);
  @include respond-to(xs) {
    margin-top: rem(40px);
    margin-bottom: rem(0);
  }

  &-apart {
    margin-bottom: 0;

    &--col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -30px;

      .offer-item-apart {
        .offer-content {
          padding-right: 30px;
          @include respond-to(sm) {
            padding: rem(20px 20px 5px 20px);
          }
        }
      }
    }
  }

  &-coworking {
    .btn-violet {
      position: absolute;
      right: calc(50% - 115px);
      top: -27px;
    }
  }
}

.offer-item {
  display: flex;
  position: relative;

  &:before {
    //content: '';
    display: block;
    height: 200px;
    width: 50px;
    background-color: #3db39e;
  }

  @include respond-to(xs) {
    flex-wrap: wrap;
    flex-direction: column;
  }

  //custom offer apart

  &-apart {
    margin-top: rem(30px);
    flex-direction: row;
    @include respond-to(xs) {
      margin-bottom: 0;
    }

    //&:last-child {
    //  margin-bottom: 0;
    //}


    //&:nth-child(odd) {
    //  flex-direction: row-reverse;
    //
    //  .offer-content {
    //    padding-left: calc((100vw - 1170px) / 2 + 15px);
    //    padding-right: rem(50px);
    //    @include respond-to(md) {
    //      padding-right: rem(15px);
    //    }
    //    @include respond-to(xs) {
    //      padding-left: rem(15px);
    //    }
    //  }
    //}

    .offer-content {

      @include respond-to(xs) {
        padding-left: rem(15px);
        padding-top: rem(20px);
      }

      h5 {
        margin-bottom: 15px;
      }
    }

    .offer-content {
      width: 50%;
      background-color: $white;
      padding: rem(40px) calc((100vw - 1170px) / 2 + 15px) rem(25px) rem(50px);
      @include respond-to(md) {
        padding: rem(25px 25px 10px 25px);
      }
      @include respond-to(sm) {
        padding: rem(20px 20px 10px 20px);
      }
      @include respond-to(xs) {
        width: 100%;
      }
    }

    .offer-item-apart--col {
      padding: 30px;

    }
  }

  &--col {
    flex-direction: column !important;
    width: calc(50% - 15px);
    @include respond-to(xs) {
      width: 100%;
    }

    .slider-wrap {
      width: 100% !important;
      height: 370px;
    }

    .offer-content {
      width: 100%;
    }
  }

  //----------- end custom


  &-coworking {
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include respond-to(es) {
        flex-direction: row;
      }

      .offer-content {
        padding-left: calc((100vw - 1170px) / 2 + 15px);
        padding-right: rem(80px);
        @include respond-to(md) {
          padding-left: rem(15px);
          padding-right: rem(60px);
        }

        @include respond-to(sm) {
          padding-right: rem(15px);
        }
      }
    }

    .offer-content {
      width: 50%;
      display: inline-block;
      padding: rem(70px) calc((100vw - 1170px) / 2 + 15px) rem(50px) rem(80px);
      @include respond-to(md) {
        padding-right: rem(15px);
        padding-left: rem(60px);
      }
      @include respond-to(xs) {
        width: 100%;
        padding: rem(50px) rem(15px) rem(30px);
      }
      @include respond-to(sm) {
        padding: rem(50px) rem(15px) rem(30px) rem(20px);
      }

      h5 {
        margin-bottom: rem(20px);
      }

      .offer-price {
        margin-right: rem(50px);
      }
    }

  }
}


.sale-label {
  font-size: 14px;
  position: relative;
  display: inline-block;
  color: $black;
  font-weight: 900;
  padding-left: rem(35px);

  img {
    position: absolute;
    display: block;
    top: -5px;
    left: -10px;
    width: 46px;
    height: 46px;
  }
}

.offer-item-apart {
  background-color: $white;

  .slider-wrap {
    width: 50%;
    @include respond-to(xs) {
      width: 100%;
      height: 35vh;
    }
  }

  .offer-title {
    margin-bottom: rem(20px);
    margin-right: rem(35px);
  }
}

.up-guests {
  margin-bottom: rem(20px);
  display: flex;
  align-items: center;

  img {
    margin-right: rem(10px);
  }

  span {
    font-size: rem(14px);
    font-weight: 500;
  }
}

//----------------------- sliders ---------------

.slider-apart {
  .tns-outer {
    height: 100%;
  }

  .tns-ovh {
    height: 100%;
  }

  .tns-inner {
    height: 100%;
  }
}


.slider-interior {
  .tns-ovh {
    height: 174px;
  }

  .tns-outer {
    height: 100%;
  }

  .tns-inner {
    height: 100%;
  }
}

.offer-content {
  .btn-orange {
    margin-bottom: rem(20px);
  }
}

.offer-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  @include respond-to(xs) {
    height: 35vh;
    width: 100%;
  }
}

.offer-title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: rem(40px);
  color: $black;
  @include respond-to(es) {
    margin-bottom: rem(20px);
  }
}

.offer-info-rooms {
  margin-bottom: rem(10px);

  .badge {
    margin-bottom: rem(20px);
    margin-right: rem(6px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.offer-price-wrap {
  display: inline-flex;
  flex-direction: column;
  @include respond-to(es) {
    margin-bottom: rem(20px);
  }

  .offer-price {
    margin-bottom: rem(15px);
    font-size: rem(18px);
  }

  //.sale-label {
  //  margin-bottom: rem(15px);
  //}
}

.offer-price {
  text-shadow: 0 10px 15px rgba(255, 202, 4, 0.2);
  color: #322f31;
  font-size: rem(20px);
  font-weight: 900;
  display: inline-block;
  margin-right: rem(50px);
  margin-bottom: rem(20px);
}

.offer-comfort {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(40px);
  @include respond-to(md) {
    margin-bottom: rem(20px);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin: rem(10px 0);
    width: 50%;
    padding-right: 15px;
    font-size: rem(13px);
    //@include respond-to(es) {
    //  width: 100%;
    //}

    img {
      margin-right: 10px;
    }
  }
}

//badge

.badge {
  padding: rem(10px 15px);
  font-size: rem(14px);
  font-weight: 500;
  display: inline-flex;

  &-white {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    color: $black;
    background-color: $white;
  }

  &-img {
    margin-right: rem(9px);
  }
}

.workplace {
  position: relative;

  &.has-number {
    padding-left: rem(86px);
    @include respond-to(es) {
      padding-left: rem(70px);
    }

    span {
      position: absolute;
      top: -24px;
      left: 0;
      @include respond-to(es) {
        top: -16px;
      }
    }
  }

  span {
    width: 66px;
    height: 66px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: rem(20px);
    font-size: rem(32px);
    color: $white;
    border-radius: 50%;
    background-image: $violet-gradient;
    background-clip: content-box;
    box-shadow: 0 10px 15px 0 rgba(226, 82, 189, 0.30);
    @include respond-to(es) {
      width: 46px;
      height: 46px;
      font-size: rem(22px);
    }
  }

  strong {
    font-size: rem(20px);
    font-weight: 700;
    color: $white;
    position: relative;
    top: -5px;
  }

  p {
    margin-bottom: rem(35px);
  }
}

.offer-info-list {
  li {
    margin-bottom: rem(22px);
    position: relative;
    padding-left: rem(86px);
    @include respond-to(es) {
      padding-left: rem(70px);
    }

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 8px;
      background-image: url(../images/svg/checked.svg);
      background-repeat: no-repeat;
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-left: rem(10px);

    }
  }
}

// coworking item

.coworking-wrap {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(es) {
    flex-wrap: wrap;
  }
}

.coworking-item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem(50px);
  @include respond-to(es) {
    flex-basis: 100%;
    margin-top: rem(30px);
  }

  &--has-icon {
    .coworking-item-icon {
      position: absolute;
      left: 0;
      right: 0;
    }

    .coworking-item__content {
      padding-left: 115px;
    }
  }

  &__content {
    position: relative;

    h5 {
      line-height: rem(24px);
      margin-bottom: rem(15px);
    }

    p {
      margin-bottom: rem(50px);
      font-size: 14px;
      @include respond-to(es) {
        margin-bottom: rem(15px);
      }
    }
  }
}

// ------------ location map -------------

.location-map {
  position: absolute;
  top: 0;
  left: 0;
}

.location-contacts {
  padding: rem(30px 30px 35px 30px);
  width: rem(400px);
  position: relative;
  @include respond-to(xs) {
    width: 100%;
    padding: rem(20px);

  }

  &.not-info {
    .btn {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: rem(25px);
  }

  .btn--lg {
    @include respond-to(es) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .contacts-item {
    //margin-bottom: rem(30px);
    //@include respond-to(xs) {
    //  &:last-child {
    //    margin-bottom: rem(5px);
    //  }
    //}
  }

  p {
    font-size: 14px;
    margin-bottom: rem(30px);
  }

  .btn {
    margin-bottom: rem(30px);
  }

  .contacts-label {
    padding-left: 0;
  }
}

// slider

.section-slider {
  .container {
    &.slider-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      @include respond-to(xs) {
        position: static;
      }
    }
  }
}

.slider-coworking-room {
  .slider-dots, .tns-nav {
    bottom: 60px;
    @include respond-to(xs) {
      bottom: 15px;
    }

    button {
      &.tns-nav-active {
        background: $violet-gradient;
        background-clip: content-box;
      }
    }
  }

  .slider-arrows {
    padding-left: calc((100vw - 1170px) / 2);
    padding-right: calc((100vw - 1170px) / 2);
    @include respond-to(md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .slider-item {
    position: relative;

    &:before {
      content: '';
      padding-bottom: 48.6%;
      display: block;
      height: 0;
      top: 0;
      left: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.working-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: rem(40px);
  @include respond-to(xs) {
    margin: rem(20px 0);
  }

  h2 {
    background-color: $black;
    padding: rem(18px 30px);
    @include respond-to(xs) {
      font-size: rem(18px);
      padding: rem(10px 0);
    }
  }

  .btn {
    @include respond-to(xs) {
      padding: rem(13px 15px);
    }
  }
}

// office room

.office-room {
  padding: rem(86px 100px);
  @include respond-to(xs) {
    padding: rem(70px 0 40px);
  }

  .wrap-form {
    width: rem(560px);
    margin: 0 auto;

    @include respond-to(xs) {
      width: 100%;
      padding: rem(30px 50px 40px);
    }
    @include respond-from-to(410px, 510px) {
      padding: rem(15px 30px 25px 30px);
    }

    @include respond-from-to(320px, 410px) {
      padding: rem(15px 15px 25px 15px);
    }

    .btn-violet {
      width: 100%;
    }

    .custom-select {
      width: 140px;

      select {
        width: 100%;
      }
    }
  }

  .item-group {
    border-bottom: 1px solid #e2e2e2;

    &__title {
      margin: rem(20px 0 20px);
      font-size: rem(14px);
      font-weight: 500;
    }
  }

  h2 {
    margin-bottom: rem(30px);

    &.top-line {
      position: relative;
      display: flex;
      justify-content: center;

      &:before {
        content: '';
        width: rem(200px);
        height: 6px;
        display: inline-block;
        background: $violet-gradient;
        background-clip: content-box;
        position: absolute;
        top: rem(-30px);
      }
    }
  }

  .booking-banner {
    max-width: rem(730px);
    margin: rem(0 auto 40px auto);
    @include respond-to(xs) {
      flex-direction: column;
      margin-bottom: rem(20px);
      .banner-text {
        margin-bottom: rem(20px);
      }
    }
  }

  .checkbox-group,
  .radio-group {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-group {
    .jobs-price {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.wrap-form {
  padding: rem(30px 100px 60px);
  background: $white;
  box-shadow: 0 10px 15px 0 rgba(241, 241, 241, 0.30);
  border-radius: 12px;

  h4, p {
    color: $black;
  }

  h4 {
    margin-bottom: rem(15px);
  }

  .select-period {
    display: flex;
    padding: rem(0 0);
    flex-wrap: wrap;

    .form-group {
      display: flex;
      align-items: center;
      margin-right: rem(18px);

      &:last-child {
        margin-right: 0;
      }

    }

  }

  .general-price {
    margin-bottom: rem(40px);
    padding-top: rem(15px);
    display: flex;
    justify-content: space-between;
  }

  .includes-list {
    margin-bottom: rem(20px);

    li {
      color: $black;
      font-size: rem(14px);
      line-height: rem(24px);
    }
  }
}

.price-title {
  font-size: rem(22px);
  font-weight: 900;
  margin-bottom: rem(20px);
}

#jobs {
  .select-period {
    .form-group {
      .custom-select {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }
}

.form-description {
  font-size: rem(14px);
  padding-bottom: rem(20px);
  border-bottom: 1px solid $light-grey;
}

.jobs-price {
  font-size: 20px;
  font-weight: 700;
  min-width: rem(120px);
  display: inline-block;
}

// offer-slider

.slider-wrap {
  position: relative;

  //.slider-dots {
  //  position: absolute;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}

  .slider-arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.slider-apart {
    .slider-arrows {
      padding: rem(0 30px);
      @include respond-to(xs) {
        padding: rem(0 15px);
      }
    }

  }

  .slider-item {
    position: relative;
    height: 100%;
  }

  .offer-slider {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .slick-list, .slick-track {
    height: 100%;
  }

  .slick-slide {
    > div {
      height: 100%;
    }
  }
}

// banner

.booking-banner {
  padding: rem(30px);
  background-image: linear-gradient(-180deg, #9d1ebb 0%, #e756bd 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-size: rem(18px);
    margin-bottom: rem(10px);
  }

  p {
    font-size: rem(14px);
  }
}

.banner-text {
  padding-right: rem(20px);
}

// loft

//   about-complex

.about-complex {
  display: flex;
  margin-bottom: rem(100px);
  @include respond-to(xs) {
    flex-wrap: wrap;
    margin-bottom: rem(40px);
  }

  h2 {
    margin-bottom: rem(25px);
  }

  p {
    font-size: rem(14px);
    line-height: rem(20px);
  }
}

.complex-description,
.complex-img {
  flex-basis: 50%;
  position: relative;
  width: 50%;
  @include respond-to(xs) {
    flex-basis: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
  }

  .btn-orange {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.complex-description {
  padding-right: rem(80px);
  @include respond-to(xs) {
    padding-right: 0;
    margin-bottom: rem(20px);
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;

  &-location {
    margin-bottom: rem(40px);

    .feature-item {
      width: calc(100% / 3);
      padding: rem(0 15px);
      @include respond-to(xs) {
        width: calc(100% / 2);
      }
      @include respond-to(es) {
        width: 100%;
      }

      &--col-2 {
        width: calc(100% / 2);
        @include respond-to(xs) {
          width: 100%;
        }
      }

      &__img {
        padding-right: rem(30px);
        top: inherit;
        margin-right: 0;
      }

      &__text {
        width: auto;
      }
    }
  }
}

.feature-title {
  margin-bottom: rem(60px);
  @include respond-to(xs) {
    margin-bottom: rem(40px);
  }
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: rem(30px);
  width: 40%;
  @include respond-to(xs) {
    width: 100%;
    margin-bottom: rem(20px);
  }

  &__img {
    width: 30%;
    text-align: center;
    margin-right: rem(40px);
    position: relative;
    top: rem(10px);
    flex-shrink: 0;
    @include respond-to(xs) {
      margin-right: rem(20px);
    }
  }

  &__text {
    font-weight: 900;
    width: 60%;
  }
}

//   feature loft

.feature-loft {
  display: flex;
  margin: rem(60px 0 60px);
  flex-wrap: wrap;
  @include respond-to(xs) {
    //flex-direction: column;
    align-items: flex-start;
    margin: rem(40px 0 40px);
  }

  .feature-item {
    flex-direction: column;
    @include respond-to(xs) {
      width: 80%;
      margin-bottom: rem(40px);
    }

    &__img {
      margin-right: 0;
      height: 70px;
      width: 70px;
      margin-bottom: rem(5px);
      @include respond-to(es) {
        height: 65px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__text {
      text-align: center;
      width: 50%;
      margin-top: 20px;
      @include respond-to(sm) {
        width: 75%;
      }
      @include respond-to(xs) {
        width: 90%;
      }
    }
  }

  &--3-col {
    .feature-item {
      width: calc(100% / 3);
      @include respond-to(xs) {
        width: 100%;
      }
    }
  }

  &--4-col {
    .feature-item {
      width: calc(100% / 4);
      @include respond-to(sm) {
        width: calc(100% / 3);
      }
      @include respond-to(xs) {
        width: calc(100% / 2);
      }

      &__text {
        width: 70%;
        @include respond-to(xs) {
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }

  &--5-col {
    .feature-item {
      width: calc(100% / 5);
      @include respond-to(sm) {
        width: calc(100% / 3);
      }
      @include respond-to(xs) {
        width: calc(100% / 2);
      }

      &__text {
        width: 70%;
        @include respond-to(xs) {
          width: 100%;
          padding: 0 15px;
        }
      }
    }
  }

  &--4-col {
    .feature-item {
      width: calc(100% / 4);
      @include respond-to(sm) {
        width: calc(100% / 3);
      }
      @include respond-to(xs) {
        width: calc(100% / 2);
      }

      &__text {
        width: 70%;
        @include respond-to(xs) {
          width: 100%;
          padding: 0 15px;
        }
      }
    }
  }
}


//--------------- home page --------------

.home-ideas {
  display: flex;
  margin-top: -55px;
  @include respond-to(xs) {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  &__content {
    width: 50%;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: calc((100vw - 1170px - 15px) / 2);
    @include respond-to(sm) {
      margin-top: 55px;
    }
    @include respond-to(xs) {
      margin-top: rem(10px);
    }

    .title-h1 {
      margin-bottom: rem(30px);
      margin-top: rem(20px);
    }

    .container {
      width: 100%;
    }

    @include respond-to(xs) {
      width: 100%;
    }
  }

  &__img {
    width: 50%;
    @include respond-to(xs) {
      width: 100%;
      position: relative;
    }

    img {
      width: 100%;
    }
  }

  .title-h1 {
    //margin-top: rem(180px);
    //margin-bottom: rem(30px);
  }

  .btn.btn-silver-2 {
    box-shadow: 0 10px 15px rgba(134, 134, 134, 0.3);
    background-color: rgba(#676466, 1);
  }
}

.stangher-ideas {
  margin-top: 9%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  @include respond-to(xs) {
    flex-wrap: wrap;
  }

  &__img {
    //background-size: contain;
    //background-position: left top;
    //background-repeat: no-repeat;
    //padding: rem(17% 0);
    width: 50%;
    padding-right: 60px;
    @include respond-to(xs) {
      width: 100%;
      padding-right: 0;
    }

    img {
      width: 100%;
    }
  }

  &-content {
    padding-right: calc((100vw - 1170px - 15px) / 2);
    @include respond-to(xs) {

    }

    .title-h2 {
      margin-bottom: rem(20px);
    }
  }

  .container {
    padding-left: 0;
    width: 50%;
    @include respond-to(xs) {
      padding-left: rem(15px);
      width: 100%;
      margin-top: rem(20px);
    }
  }
}

.ideas-path-img {
  position: relative;

  &:before {
    content: '';
    background-image: url(../images/svg/Path-1.svg);
    width: 12%;
    height: 47%;
    bottom: 80%;
    left: 43%;
    background-size: contain;
    background-position: left top;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    @include respond-to(xs) {
      display: none;
    }
  }

  &:after {
    content: '';
    background-image: url(../images/svg/Path-2.svg);
    width: 10%;
    height: 39%;
    background-size: contain;
    background-position: left top;
    top: 85%;
    right: 50%;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    @include respond-to(xs) {
      display: none;
    }
  }
}


//--------------location ------------

.location {
  padding: rem(40px 25px 60px);
  display: flex;
  @include respond-to(md) {
    padding: rem(40px 25px 40px);
  }
  @include respond-to(xs) {
    padding: rem(40px 0 40px);
  }

  &-img {
    display: inline-block;
    margin-right: rem(75px);
    flex-shrink: 0;
    @include respond-to(xs) {
      width: 35px;
      margin-right: rem(20px);
    }
  }

  &-content {
    .title-h1 {
      margin-bottom: rem(20px);
    }

    .description {
      width: 45%;
      @include respond-to(sm) {
        width: 80%;
      }
      @include respond-to(xs) {
        width: calc(100% + 55px);
        margin-left: rem(-55px);
      }
    }
  }
}


//-------------- projects ------------

.projects {
  padding: rem(40px 0 70px);
  display: flex;
  @include respond-to(md) {
    padding: rem(40px 25px 40px);
  }
  @include respond-to(xs) {
    padding: rem(40px 0 20px);
  }

  &-img {
    display: inline-block;
    margin-right: rem(75px);
    flex-shrink: 0;
    @include respond-to(xs) {
      width: 40px;
      margin-right: rem(20px);
    }
  }

  &-content {
    .title-h1 {
      margin-bottom: rem(20px);
    }

    .description {
      width: 60%;
      @include respond-to(sm) {
        width: 80%;
      }
      @include respond-to(xs) {
        width: calc(100% + 60px);
        margin-left: rem(-60px);
      }
    }
  }
}


// -------------- banner top ----------------

.banner-project {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  padding: rem(40px 0);
  @include respond-to(xs) {
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .btn-white {
    margin-left: auto;
    margin-right: rem(150px);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.20);
    cursor: default;
    @include respond-to(xs) {
      margin-right: 0;
    }
    @include respond-to(es) {
      margin-left: rem(100px);
      margin-top: rem(10px);
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.20);

    }
  }

  &__city {
    font-size: rem(42px);
    color: $white;
    line-height: rem(52px);
    font-weight: 900;
  }

  &__country {
    font-size: rem(24px);
    color: $white;
  }

  &__icon {
    margin-right: rem(55px);
    margin-left: rem(15px);
    flex-shrink: 0;
    @include respond-to(es) {
      margin-left: 0;
      width: 70px;
      margin-right: rem(30px);
    }
  }
}


//------------- about project -------------

.about-project {
  padding-top: rem(40px);
  padding-bottom: rem(50px);
  @include respond-to(xs) {
    padding-bottom: rem(40px);
  }

  .title-h1 {
    margin-bottom: rem(30px);
  }

  .description {
    width: 75%;
    @include respond-to(sm) {
      width: 100%;
    }
  }
}

//------------ traveling -----------

.traveling {
  .title-h2 {
    margin-bottom: rem(30px);
  }
}

.interesting-item {
  margin-bottom: rem(50px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include respond-to(xs) {
    flex-direction: column;
    margin-bottom: rem(30px);
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &__img {
    width: calc(50% - 15px);
    position: relative;
    @include respond-to(xs) {
      width: 100%;
      margin-bottom: rem(20px);
    }
    //margin-bottom: rem(30px);

    .badge-white {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: rem(13px);
      font-weight: 700;
    }

    > img {
      display: block;
      height: 310px;
      width: 100%;
      object-fit: cover;
      @include respond-to(sm) {
        height: 260px;
      }
      @include respond-to(xs) {
        height: 200px;
      }
    }
  }

  &__description {
    background-color: #282627;
    padding: rem(16px 20px);
    color: $white;
    text-align: center;

    span {
      font-size: rem(14px);
    }
  }

  &__content {
    width: calc(50% - 15px);
    //margin-left: rem(15px);
    @include respond-to(xs) {
      width: 100%;
    }

    p {
      font-size: rem(14px);
      line-height: rem(20px);
    }

    .title-h3 {
      margin-bottom: rem(30px);
      @include respond-to(xs) {
        margin-bottom: rem(20px);
      }
    }
  }

  //--------------------- col -----------

  &--col {
    width: calc(50% - 30px);
    @include respond-to(es) {
      width: 100%;
    }

    .interesting-item {
      &__img {
        width: 100%;
      }

      &__content {
        width: 100%;
        padding-top: rem(25px);

        .title-h3 {
          margin-bottom: rem(20px);
        }
      }
    }

    .title-h4 {
      margin-bottom: rem(20px);
      font-size: rem(20px);
    }
  }
}

.detailed-info {
  margin-top: rem(60px);
  @include respond-to(xs) {
    margin-top: rem(40px);
  }

  .title-h2 {
    margin-bottom: rem(30px);
  }

  .description {
    width: 75%;
    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.interesting-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.interesting-more {
  .interesting-item {
    &__img {
      margin-bottom: rem(30px);
      @include respond-to(xs) {
        margin-bottom: rem(15px);
      }
    }
  }
}

.interesting-places {
  .title-h3 {
    margin-bottom: rem(45px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }

  .title-h2 {
    margin-bottom: rem(40px);
  }
}

.percent-list {
  display: flex;
  flex-wrap: wrap;
}

.percent-item {
  text-align: center;
  margin: rem(40px 60px 0 0);
  width: 150px;
  @include respond-to(es) {
    width: calc(50% - 20px);
    margin-right: rem(20px);
  }
}

.percent-text {
  margin-top: rem(10px);
}

.info-list {
  &__title {
    font-weight: 900;
    margin-bottom: rem(30px);
    margin-top: rem(50px);
    position: relative;

    &:before {
      content: '';
      background-image: url(../images/svg/checked-2.svg);
      width: 40px;
      height: 40px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -6px;
      left: -60px;
      @include respond-to(es) {
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
      }
    }
  }

  &__item {
    padding-left: rem(80px);
    position: relative;
    @include respond-to(es) {
      padding-left: rem(60px);
    }
  }

  .row {
    .info-list__item {
      width: 50%;
      padding-right: rem(80px);
      @include respond-to(xs) {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

.bottom-hero {
  display: flex;
  align-items: center;
  padding: 45px 0;
  @include respond-to(es) {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  img {
    margin-right: rem(40px);
    @include respond-to(es) {
      margin-right: 0;
    }
  }

  .title-h3 {
    margin-right: rem(90px);
    @include respond-to(es) {
      text-align: center;
      margin: 20px 0;
    }
  }
}


// ----------------------- more info projects ---------------------

.more-info {
  padding: rem(80px 0);
  @include respond-to(xs) {
    padding: rem(40px 0);
  }

  &-wrap {
    display: flex;
    color: $white;

    .btn {
      width: 260px;
      @include respond-to(es) {
        width: auto;
      }
    }
  }

  &__icon {
    padding: 0 110px;
    flex-shrink: 0;
    width: calc(140px + 220px);
    @include respond-to(sm) {
      padding: 0 80px;
      width: calc(120px + 160px);
    }
    @include respond-to(xs) {
      padding: 0 60px;
      width: calc(80px + 120px);
    }
    @include respond-to(es) {
      padding: 0 20px 0 0;
      width: calc(60px + 20px);
    }
  }

  &__title {
    font-size: rem(28px);
    line-height: rem(34px);
    font-weight: 700;
    margin-bottom: rem(15px);
    padding-right: 30%;
    @include respond-to(sm) {
      padding-right: 20%;
    }
    @include respond-to(xs) {
      padding-right: 0;
    }
  }

  &__description {
    font-size: rem(16px);
    margin-bottom: rem(30px);
    font-weight: 400;
    padding-right: 45%;
    @include respond-to(sm) {
      padding-right: 30%;
    }
    @include respond-to(xs) {
      padding-right: 20%;
    }
    @include respond-to(es) {
      padding-right: 0;
    }
  }
}

// ------------------outside view  -------------------

.another-view {
  margin-bottom: rem(60px);

  .row {
    flex-wrap: nowrap;
    @include respond-to(xs) {
      flex-wrap: wrap;
    }
  }

  &-content {
    padding-right: rem(60px);
    flex-grow: 1;
    margin-bottom: rem(30px);
    @include respond-to(xs) {
      padding-right: 0;
    }

    .alert-dark {
      margin-top: rem(20px);
    }
  }

  .offer-item {
    flex-shrink: 0;
    width: 63%;
    @include respond-to(sm) {
      width: 55%;
    }
    @include respond-to(xs) {
      width: 100%;
    }
  }

  .slider-wrap {
    height: 480px;
    @include respond-to(xs) {
      height: 35vh;
    }
  }

  .title-h2 {
    margin-bottom: rem(30px);
  }

  p {
    font-size: rem(14px);
    line-height: rem(20px);
  }
}

// ------------------ interior-wrap -------------------

.interior-wrap {
  display: inline-block;
  width: 100%;
  margin-top: rem(30px);
  margin-bottom: rem(60px);

  .title-h3 {
    margin-bottom: rem(30px);
  }
}

.slider-interior {
  .slider-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//------------------ alert ----------------------

.alert {
  padding: rem(15px 30px);
  border-radius: 35px;

  &-dark {
    background: #e2e2e2;
  }

  p {
    font-size: rem(14px);
    font-weight: 500;
  }
}

.contact-us-hero {
  padding: rem(40px 0 60px);
  display: flex;
  @include respond-to(xs) {
    padding: rem(40px 0 40px);
  }

  &__img {
    width: 120px;
    height: 120px;
    display: inline-block;
    flex-shrink: 0;
    margin-right: rem(75px);
    @include respond-to(sm) {
      width: 80px;
      height: 80px;
      margin-right: rem(50px);
    }
    @include respond-to(xs) {
      width: 60px;
      height: 60px;
      margin-right: rem(30px);
    }
  }

  &__content {
    .title-h1 {
      margin-bottom: rem(20px);
    }
  }

  &-description {
    padding-right: 60%;
    @include respond-to(sm) {
      padding-right: 30%;
    }
    @include respond-to(xs) {
      padding-right: 0;
    }

    p {
      line-height: rem(24px);
    }
  }
}


// --------------------------- contact-us -------------------


.contact-us {
  &-list {
    padding: rem(50px 0 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond-to(xs) {
      padding: rem(40px 0 20px);
    }
  }

  &-item {
    width: calc(50% - 15px);
    background: $white;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
    padding: rem(30px 30px 50px 30px);
    display: flex;
    margin-bottom: rem(20px);
    @include respond-to(sm) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-items: flex-start;
      padding: rem(25px);
    }
    @include respond-to(es) {
      width: 100%;
      justify-content: center;
      text-align: center;
    }

    &__img {
      width: 100px;
      height: 100px;
      display: inline-block;
      flex-shrink: 0;
      border-radius: 100%;
      overflow: hidden;
      margin-right: rem(25px);
      @include respond-to(sm) {
        margin-right: 0;
      }
      @include respond-to(es) {
        margin-right: 0;
      }
    }

    &__content {
      padding-top: rem(25px);

      .title-h4 {
        margin-bottom: rem(30px);
        padding-right: rem(50px);
        @include respond-to(md) {
          padding-right: 0;
        }
      }

      .btn-success {
        width: 260px;
        text-align: center;
        @include respond-to(xs) {
          width: auto;
        }
      }
    }
  }
}


//----------------------- about-us ---------------------

.about-us-hero {
  padding: rem(60px 0 100px);
  @include respond-to(xs) {
    padding: rem(40px 0 40px);
  }

  &__logo {
    text-align: center;
    margin-bottom: rem(60px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }

  &__description {
    text-align: center;
    width: 54%;
    margin: auto;
    @include respond-to(sm) {
      width: 70%;
    }
    @include respond-to(es) {
      width: 90%;
    }
  }
}

.our-development {
  padding-bottom: rem(30px);
}

.development {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: rem(60px);
    @include respond-to(xs) {
      margin-top: rem(40px);
    }
    @include respond-to(es) {
      margin-top: rem(30px);
    }
  }

  &-item {
    width: calc(50% - 80px);
    text-align: center;
    margin-bottom: rem(50px);
    @include respond-to(sm) {
      width: calc(50% - 40px);
    }
    @include respond-to(xs) {
      width: calc(50% - 15px);
      margin-bottom: rem(40px);
    }
    @include respond-to(es) {
      width: calc(100% - 15px);
      margin-bottom: rem(30px);
    }

    .title-h3 {
      font-size: rem(22px);
      margin-bottom: rem(15px);
    }

    &__img {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      border-radius: 100%;
      margin-bottom: rem(30px);
      @include respond-to(xs) {
        width: 120px;
        height: 120px;
        margin-bottom: rem(10px);
      }
    }

    &__description {
      font-size: rem(14px);
      line-height: rem(20px);
      color: $black-header;
      padding: rem(0 40px);
      @include respond-to(sm) {
        padding: rem(0 20px);
      }
      @include respond-to(xs) {
        padding: rem(0 15px);
      }
    }
  }
}


.our-team {
  padding-bottom: rem(60px);
  @include respond-to(xs) {
    padding-bottom: rem(40px);
  }
  @include respond-to(es) {
    padding-bottom: rem(20px);
  }

  &-wrap {
    margin-top: rem(70px);
    @include respond-to(xs) {
      margin-top: rem(40px);
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-item {
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: rem(50px);
    padding: rem(0 15px);
    @include respond-to(xs) {
      width: calc(100% / 2);
    }
    @include respond-to(es) {
      width: 100%;
      margin-bottom: rem(30px);
    }

    &--big {
      width: 100%;
      display: flex;
      padding: rem(0 20%);
      align-items: center;
      margin-bottom: rem(60px);
      @include respond-to(sm) {
        padding: rem(0 10%);
      }
      @include respond-to(xs) {
        flex-wrap: wrap;
        justify-content: center;
      }
      @include respond-to(es) {
        padding: 0;
      }

      .our-team-item__photo {
        width: 230px;
        height: 230px;
        margin-right: rem(50px);
        margin-bottom: 0;
        @include respond-to(xs) {
          margin-right: rem(0);
          margin-bottom: rem(20px);
        }
      }

      .our-team-item__content {
        text-align: left;
        @include respond-to(xs) {
          text-align: center;
        }
      }
    }

    &__photo {
      margin-bottom: rem(20px);
      width: 180px;
      height: 180px;
      overflow: hidden;
      display: inline-block;
      border-radius: 50%;
      flex-shrink: 0;
    }

    &__title {
      color: $black;
      font-weight: 700;
      font-size: rem(22px);
      margin-bottom: rem(10px);
    }

    &__position {
      font-size: rem(14px);
      color: $black-header;
      margin-bottom: rem(15px);
    }

    &__description {
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }
}

//------------------