
.wrapper {

  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

main {
  &.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include respond-to(xs) {
      padding-top: rem(55px);
    }
  }
}

.bg-black {
  background-color: $black;
}

.bg-silver {
  background-color: $bg-silver;
}

.sub-title {
  font-weight: 900;
  margin-bottom: rem(10px);
}

.text-gradient-violet {
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  //background: -webkit-gradient($violet-gradient); /* for webkit browsers */
  //background: -moz-linear-gradient($violet-gradient); /* for firefox 3.6+ */
  background: $violet-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
  background: $orange-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// -------------- hero top -------------

.hero-top {
  .hero-logo {
    margin-right: rem(160px);
    @include respond-to(md) {
      margin-right: rem(120px);
    }
    @include respond-to(sm) {
      margin-right: rem(50px);
      max-width: 220px;
    }
    @include respond-to(xs) {
      margin-bottom: rem(30px);
      max-width: 100%;
    }
    @include respond-to(es) {
      margin-bottom: rem(15px);
    }
  }
  .text-gradient-violet {
    font-weight: 700;
    font-size: rem(20px);
    margin-bottom: rem(30px);
  }
  .hero-info {
    margin-bottom: rem(40px);
    @include respond-to(xs) {
      margin-bottom: rem(20px);
    }
    @include respond-to(es) {
      margin-bottom: rem(10px);
    }
  }
  h1 {
    margin-bottom: rem(40px);
    @include respond-to(es) {
      margin-bottom: rem(20px);
    }
  }
  .description {
    margin-bottom: rem(40px);
    padding-right: rem(440px);
    @include respond-to(md) {
      padding-right: rem(420px);
    }
    @include respond-to(sm) {
      padding-right: rem(200px);
    }
    @include respond-to(xs) {
      padding-right: 0;
    }
  }
  .btn-violet,
  .btn-orange {
    margin-right: rem(15px);
  }
  .btn {
    @include respond-to(es) {
      width: 100%;
      text-align: center;
      margin-bottom: rem(20px);
    }
  }
  .row-sale{
    margin-bottom: rem(30px);
  }
  .sale-label {
    margin-right: rem(34px);
    margin-bottom: rem(15px);
  }
  .row-btn{
    @include respond-to(es) {
      width: 70%;
    }
    .btn {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hero-info {
  display: flex;
  @include respond-to(xs) {
    flex-direction: column;
  }
  .contacts-item {
    margin-right: rem(128px);
    @include respond-to(md){
      margin-right: rem(60px);
    }
    @include respond-to(sm) {
      margin-right: rem(30px);
    }
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
    @include respond-to(es) {
      margin-bottom: rem(15px);
    }
  }
}

.contacts-item {
  color: $white;
  &:last-child {
    margin-right: 0;
  }
  .contacts-label {
    font-size: rem(12px);
    margin-bottom: 3px;
    display: block;
    font-weight: 400;
    padding-left: rem(24px);
  }
  .contacts-text {
    position: relative;
    &.has-icon {
      padding-left: rem(24px);
    }
    img {
      margin-right: rem(8px);
      position: absolute;
      top: 1px;
      left: 0;
    }
  }
}
.contacts-address,
.contacts-telephone{
  font-size: rem(14px);
  font-weight: 700;
}


// hero bottom

.hero-bottom {
  .hero-logo {
    margin-bottom: rem(40px);
    @include respond-to(xs) {
      margin-bottom: rem(30px);
    }
  }
  h2 {
    margin-bottom: rem(40px);
  }
  .btn-orange {
    padding-right: rem(30px);
    padding-left: rem(30px);
  }
}

.hero-bottom--loft {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(xs) {
    flex-direction: column;
  }
  .container{
    width: 100%;
  }
  .title-section {
    padding: rem(40px 0);
  }
}
.hero-apart,
.hero-coworking {
  width: 50%;
  padding: rem(40px 70px 80px);
  @include respond-to(sm) {
    padding: rem(40px 30px 40px);
  }
  @include respond-to(xs) {
    width: 100%;
    padding: rem(40px 15px);
  }
}
.hero-apart {
  //padding-left: calc((100vw - 1170px) / 2 );
  //padding-left: rem(70px);
}

.hero-coworking {
  //padding-right: calc((100vw - 1170px) / 2 + 15px);
  //padding-left: rem(70px);
}


//---------------- about coworking --------

.our-coworking {
  position: relative;
  margin-bottom: rem(170px);
  @include respond-to(xs) {
    margin-bottom: rem(40px);
  }
  h2 {
    margin-bottom: rem(26px);
    @include respond-to(xs) {
      position: relative;
      z-index: 10;
    }
  }
  .description {
    width: 46%;
    display: inline-block;
    @include respond-to(xs) {
      width: 100%;
      position: relative;
      z-index: 10;
    }
  }
  &__img {
    position: absolute;
    right: rem(128px);
    top: rem(-50px);
    @include respond-to(md) {
      right: 0;
      top: 0;
      text-align: right;
    }
    @include respond-to(sm) {
      right: 0;
      top: 0;
      text-align: right;
      svg{
        width: 100%;
      }
    }
    @include respond-to(xs) {
      position: static;
      text-align: center;
      margin-top: rem(40px);
      svg {
        width: 60%;
        height: auto;
      }
    }
    //svg {
    //  @include respond-to(es) {
    //    opacity: 0.3;
    //  }
    //}
  }
  &.our-apart {
    margin-bottom: rem(70px);
    @include respond-to(xs) {
      margin-bottom: rem(40px);
    }
  }
}


//  about apart

.our-apart {
  .description{
    display: inline-block;
  }
  &__img {
    float: right;
    //@include respond-to(es){
    //  position: absolute;
    //  top: 50px;
    //  right: 0;
    //  left: 0;
    //  svg {
    //    opacity: 0.3;
    //    width: 100%;
    //  }
    //}
    @include respond-to(xs) {
      float: none;
      text-align: center;
      margin-top: rem(30px);
    }
    svg{
      @include respond-to(xs){
        width: 100%;
      }
    }
  }
}

// --------------- offer ----------

.offer-wrap {
  margin-top: rem(64px);
  margin-bottom: rem(50px);
  @include respond-to(xs) {
    margin-top: rem(40px);
    margin-bottom: rem(0);
  }
  &-apart {
    margin-bottom: 0;
  }
  &-coworking {
    .btn-violet {
      position: absolute;
      right: calc(50% - 115px);
      top: -27px;
    }
  }
}

.offer-item {
  display: flex;
  position: relative;
  @include respond-to(xs) {
    flex-wrap: wrap;
    flex-direction: column;
  }

  //custom offer apart

  &.offer-item-apart {
    margin-bottom: 30px;
    @include respond-to(xs) {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      flex-direction: row;
      .offer-content {
        padding-right: calc((100vw - 1170px) / 2 + 15px);
        padding-left: rem(40px);
        @include respond-to(md) {
          padding-right: rem(15px);
        }
        @include respond-to(xs) {
          padding-left: rem(15px);
        }
      }
    }
    .offer-content {
      background-color: $white;
      padding-left: rem(40px);
      @include respond-to(xs) {
        padding-left: rem(15px);
        padding-top: rem(20px);
      }
    }
  }
  //----------- end custom

  &:nth-child(even) {
    flex-direction: row-reverse;
    @include respond-to(es) {
      flex-direction: row;
    }
    .offer-content {
      padding-left: calc((100vw - 1170px) / 2 + 15px);
      padding-right: rem(80px);
      @include respond-to(md) {
        padding-left: rem(15px);
        padding-right: rem(60px);
      }

      @include respond-to(sm){
        padding-right: rem(15px);
      }
    }
  }
}

.sale-label{
  font-size: 14px;
  position: relative;
  display: inline-block;
  color: $black;
  font-weight: 900;
  padding-left: rem(35px);
  img {
    position: absolute;
    display: block;
    top: -5px;
    left: -10px;
    width: 46px;
    height: 46px;
  }
}

.offer-item-apart {
  .slider-wrap {
    width: 50%;
    @include respond-to(xs) {
      width: 100%;
      height: 35vh;
    }
  }
  .slider-arrows {
    .slick-arrow {
      background: $orange-gradient;
      &:hover{
        background: #322f31;
      }
    }
  }
  .dots-items {
    li {
      &.slick-active {
        .dot {
          background: $orange-gradient;
        }
      }
    }
  }
}

.offer-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  @include respond-to(xs) {
    height: 35vh;
    width: 100%;
  }
}

.offer-content {
  width: 50%;
  display: inline-block;
  padding-right: calc((100vw - 1170px) / 2 + 15px);
  padding-left: rem(80px);
  padding-top: rem(70px);
  padding-bottom: rem(50px);
  @include respond-to(md) {
    padding-right: rem(15px);
    padding-left: rem(60px);
  }
  @include respond-to(xs) {
    width: 100%;
    padding-right: rem(15px);
    padding-left: rem(15px);
    padding-top: rem(50px);
    padding-bottom: rem(30px);
  }
  @include respond-to(sm) {
    padding-left: rem(20px);
    padding-right: rem(15px);
    padding-top: rem(50px);
    padding-bottom: rem(30px);
  }
  h5 {
    margin-bottom: rem(20px);
  }
  .offer-price {
    margin-right: rem(50px);
  }
}

.offer-title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: rem(40px);
  color: $black;
  @include respond-to(es) {
    margin-bottom: rem(20px);
  }
}

.offer-info-rooms {
  margin-bottom: rem(20px);
  @include respond-to(xs) {
    margin-bottom: rem(10px);
  }
  .badge {
    margin-bottom: rem(20px);
    margin-right: rem(6px);
    &:last-child {
      margin-right: 0;
    }
  }
}
.offer-price-wrap {
  display: inline-flex;
  flex-direction: column;
  @include respond-to(es) {
    margin-bottom: rem(20px);
  }
  .offer-price {
    margin-bottom: rem(15px);
    font-size: rem(18px);
  }
  .sale-label{
    margin-bottom: rem(15px);
  }
}

.offer-price {
  text-shadow: 0 10px 15px rgba(255, 202, 4, 0.2);
  color: #322f31;
  font-size: rem(20px);
  font-weight: 900;
  display: inline-block;
  @include respond-to(es) {
    margin-bottom: rem(20px);
  }
}

.offer-comfort {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(40px);
  @include respond-to(xs) {
    margin-bottom: rem(20px);
  }
  &__item {
    display: inline-flex;
    align-items: center;
    margin: rem(10px 0);
    width: 50%;
    @include respond-to(es) {
      width: 100%;
    }
    img {
      margin-right: 10px;
    }
  }
}

//badge

.badge {
  padding: rem(10px 15px);
  font-size: rem(14px);
  font-weight: 500;
  display: inline-block;
  &-white {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    color: $black;
    background-color: $white;
  }
}

.workplace {
  position: relative;
  &.has-number {
    padding-left: rem(86px);
    @include respond-to(es) {
      padding-left: rem(70px);
    }
    span{
      position: absolute;
      top: -24px;
      left: 0;
      @include respond-to(es) {
        top: -16px;
      }
    }
  }
  span {
    width: 66px;
    height: 66px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: rem(20px);
    font-size: rem(32px);
    color: $white;
    border-radius: 50%;
    background-image: $violet-gradient;
    background-clip: content-box;
    box-shadow: 0 10px 15px 0 rgba(226, 82, 189, 0.30);
    @include respond-to(es) {
      width: 46px;
      height: 46px;
      font-size: rem(22px);
    }
  }
  strong {
    font-size: rem(20px);
    font-weight: 700;
    color: $white;
    position: relative;
    top: -5px;
  }
  p {
    margin-bottom: rem(35px);
  }
}

.offer-info-list {
  li {
    margin-bottom: rem(22px);
    position: relative;
    padding-left: rem(86px);
    @include respond-to(es) {
      padding-left: rem(70px);
    }
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      background-image: url(../images/svg/checked.svg);
      background-repeat: no-repeat;
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-left: rem(10px);

    }
  }
}

// coworking item

.coworking-wrap {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(es) {
    flex-wrap: wrap;
  }
}

.coworking-item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem(50px);
  @include respond-to(es) {
    flex-basis: 100%;
    margin-top: rem(30px);
  }
  h5 {
    line-height: rem(24px);
    margin-bottom: rem(15px);
  }
  p {
    margin-bottom: rem(50px);
    font-size: 14px;
    @include respond-to(es) {
      margin-bottom: rem(15px);
    }
  }
}

// ------------ location map -------------

.location-map {
  position: absolute;
  top: 0;
  left: 0;
}

.location-contacts {
  padding: rem(30px 30px 70px 30px);
  width: rem(400px);
  position: relative;
  @include respond-to(xs) {
    width: 100%;
    padding: rem(20px);

  }
  h2 {
    margin-bottom: rem(25px);
  }
  .contacts-item {
    margin-bottom: rem(30px);
    @include respond-to(xs) {
      &:last-child {
        margin-bottom: rem(5px);
      }
    }
  }
  p {
    font-size: 14px;
    margin-bottom: rem(30px);
  }
  .btn {
    margin-bottom: rem(30px);
  }
  .contacts-label {
    padding-left: 0;
  }
}

// slider

.section-slider {
  .container {
    &.slider-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      @include respond-to(xs) {
        position: static;
      }
    }
  }
}

.slider-coworking-room {
  .slider-dots {
    bottom: 60px;
    @include respond-to(xs) {
      bottom: 15px;
    }
  }
  .slider-arrows {
    padding-left: calc((100vw - 1170px) / 2);
    padding-right: calc((100vw - 1170px) / 2);
    @include respond-to(md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .slider-item {
    position: relative;
    &:before {
      content: '';
      padding-bottom: 48.6%;
      display: block;
      height: 0;
      top: 0;
      left: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.working-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: rem(40px);
  @include respond-to(xs) {
    margin: rem(20px 0);
  }
  h2 {
    background-color: $black;
    padding: rem(18px 30px);
    @include respond-to(xs) {
      font-size: rem(18px);
      padding: rem(10px 0);
    }
  }
  .btn {
    @include respond-to(xs) {
      padding: rem(13px 15px);
    }
  }
}

// office room

.office-room {
  padding: rem(86px 100px);
  @include respond-to(xs) {
    padding: rem(70px 0 40px);
  }
  .wrap-form {
    width: rem(560px);
    margin: 0 auto;

    @include respond-to(xs) {
      width: 100%;
      padding: rem(30px 50px 40px);
    }
    @include respond-from-to(410px, 510px) {
       padding: rem(15px 30px 25px 30px);
     }

    @include respond-from-to(320px, 410px) {
      padding: rem(15px 15px 25px 15px);
    }

    .btn-violet {
      width: 100%;
    }
    .custom-select{
      width: 140px;
    }
  }
  .item-group{
    border-bottom: 1px solid #e2e2e2;
    &__title{
      margin: rem(20px 0 20px);
      font-size: rem(14px);
      font-weight: 500;
    }
  }
  h2 {
    margin-bottom: rem(30px);
    &.top-line {
      position: relative;
      display: flex;
      justify-content: center;
      &:before {
        content: '';
        width: rem(200px);
        height: 6px;
        display: inline-block;
        background: $violet-gradient;
        background-clip: content-box;
        position: absolute;
        top: rem(-30px);
      }
    }
  }
  .booking-banner {
    max-width: rem(730px);
    margin: rem(0 auto 40px auto);
    @include respond-to(xs){
      flex-direction: column;
      margin-bottom: rem(20px);
      .banner-text {
        margin-bottom: rem(20px);
      }
    }
  }
  .checkbox-group,
  .radio-group {
    display: flex;
    justify-content: space-between;
  }
  .checkbox-group {
    .jobs-price {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.wrap-form {
  padding: rem(30px 100px 60px);
  background: $white;
  box-shadow: 0 10px 15px 0 rgba(241, 241, 241, 0.30);
  border-radius: 12px;
  h4, p {
    color: $black;
  }
  h4 {
    margin-bottom: rem(15px);
  }
  .select-period {
    display: flex;
    padding: rem(0 0);
    flex-wrap: wrap;

    .form-group{
      display: flex;
      align-items: center;
      margin-right: rem(18px);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .general-price {
    margin-bottom: rem(40px);
    padding-top: rem(15px);
    display: flex;
    justify-content: space-between;
  }
  .includes-list {
    margin-bottom: rem(20px);
    li {
      color: $black;
      font-size: rem(14px);
      line-height: rem(24px);
    }
  }
}
.price-title{
  font-size: rem(22px);
  font-weight: 900;
  margin-bottom: rem(20px);
}

.form-description{
  font-size: rem(14px);
  padding-bottom: rem(20px);
  border-bottom: 1px solid $light-grey;
}


.jobs-price {
  font-size: 20px;
  font-weight: 700;
  min-width: rem(120px);
  display: inline-block;
}

// offer-slider

.slider-wrap {
  position: relative;
  .slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.slider-apart{
    .slider-arrows {
      padding: rem(0 30px);
      @include respond-to(xs) {
        padding: rem(0 15px);
      }
    }
    .slider-dots{
      bottom: rem(30px);
      @include respond-to(es) {
        bottom: rem(10px);
      }
      @include respond-to(xs) {
        bottom: rem(15px);
      }
    }
  }
  .slider-item {
    position: relative;
    height: 100%;
  }

  .offer-slider {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .slick-list, .slick-track {
    height: 100%;
  }
  .slick-slide {
    >div {
      height: 100%;
    }
  }
}

// banner

.booking-banner {
  padding: rem(30px);
  background-image: linear-gradient(-180deg, #9d1ebb 0%, #e756bd 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    font-size: rem(18px);
    margin-bottom: rem(10px);
  }
  p {
    font-size: rem(14px);
  }
}

.banner-text {
  padding-right: rem(20px);
}

// loft

//   about-complex

.about-complex {
  display: flex;
  margin-bottom: rem(100px);
  @include respond-to(xs) {
    flex-wrap: wrap;
    margin-bottom: rem(40px);
  }
  h2{
    margin-bottom: rem(25px);
  }
}
.complex-description,
.complex-img{
  flex-basis: 50%;
  @include respond-to(xs) {
    flex-basis: 100%;
  }
}

.complex-description{
  padding-right: rem(80px);
  @include respond-to(xs) {
    padding-right: 0;
    margin-bottom: rem(20px);
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-title{
  margin-bottom: rem(60px);
  @include respond-to(xs) {
    margin-bottom: rem(40px);
  }
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: rem(60px);
  width: 40%;
  @include respond-to(xs) {
    width: 100%;
    margin-bottom: rem(40px);
  }
  &__img{
    width: 30%;
    text-align: center;
    margin-right: rem(40px);
    position: relative;
    top: rem(10px);
    @include respond-to(xs) {
      margin-right: rem(20px);
    }
  }
  &__text {
    font-weight: 900;
    width: 60%;
    color: $black;
  }
}

//   feature loft

.feature-loft {
  display: flex;
  margin: rem(70px 0 30px);
  @include respond-to(xs) {
    flex-direction: column;
    align-items: center;
    margin: rem(40px 0 40px);
  }
  .feature-item{
    flex-direction: column;
    @include respond-to(xs) {
      width: 80%;
      margin-bottom: rem(40px);
    }
    &__img {
      margin-right: 0;
      height: 90px;
      margin-bottom: rem(5px);
    }
    &__text {
      text-align: center;
      width: 50%;
      @include respond-to(xs) {
        width: 75%;
      }
    }
  }
}



// modals