<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title center text-black">Готово!</h4>
                <button type="button" class="close js-close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-img">
                    <img src="../images/svg/like.svg" alt="like">
                </div>
                <p class="modal-description center text-black">Спасибо, ваша заявка принята.
                    В ближайшее время наш менеджер
                    свяжется с вами.</p>

                <button type="submit" class="btn js-close-modal btn-violet btn--lg">ОК</button>
            </div>
        </div>
    </div>
</div>
