<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name=”viewport” user-scalable=no;” />
    <meta name=”viewport” user-scalable=false;” />
    <meta name=”viewport” user-scalable=0” />
    <meta name="HandheldFriendly" content="true">
    <title>Landing</title>

    <!-- Styles -->
    <link href="./css/app.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

    {% include './_header.html'%}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% include './_footer.html'%}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script src="./js/app.js" defer></script>

<!-- Scripts -->
</body>
</html>
