<footer class="footer bg-black">
    <div class="container">
        <div class="footer-top">
            <div class="col-logo">
                <div class="footer-logo">
                    <a class="footer-logo" href="/"><img src="../images/svg/stangher-footer-logo.svg" alt="logo"></a>
                </div>
                <div class="footer-copyright">
                    © 2018 StanGher <br>
                    Все права защищены
                </div>
            </div>
            <nav class="footer-nav">
                <a href="projects.html">Наши обьекты</a>
                <a href="locations.html">Локации</a>
                <a href="about-us.html">О проекте</a>
                <a href="contact-us.html">Обратная связь</a>
                <a href="projects.html">Акселератор и венчурный фонд</a>
            </nav>
            <div class="subscribe">
                <div class="subscribe-item subscribe-social">
                    <p>Мы в социальных сетях</p>
                    <div class="social-link">
                        <a href="#">
                            <img src="../images/svg/Facebook.svg" alt="Facebook">
                        </a>
                        <a href="#">
                            <img src="../images/svg/VK.svg" alt="vkontakte">
                        </a>
                        <a href="#">
                            <img src="../images/svg/Instagram.svg" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="../images/svg/Twitter.svg" alt="twitter">
                        </a>
                        <a href="#">
                            <img src="../images/svg/Flickr.svg" alt="Flickr">
                        </a>
                        <a href="#">
                            <img src="../images/svg/Foursquare.svg" alt="Foursquare">
                        </a>
                    </div>
                </div>
                <div class="subscribe-item">
                    <p>Подпишись на наши новости!</p>
                    <form action="#" method="#" class="form-subscribe">
                        <div class="form-group">
                            <input type="email" autocomplete="off" placeholder="Ваш email…" class="form-control" name="subscribe">
                        </div>
                        <button type="submit"><img src="../images/svg/paper-plane.svg" alt="#"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <nav>
                <a href="#">Карта сайта</a>
                <a href="#">Согласие на обработку данных</a>
                <a href="#">Политика конфиденциальности</a>
            </nav>
        </div>
    </div>
</footer>