<header class="header">
    <div class="container">
        <div class="header-wrap">
            <a href="/" class="header-logo">
                <img src="../images/svg/stangher-logo-main.svg" alt="logo">
            </a>
            <!--<div class="switch-lang">-->
            <!--<span  class="switch-lang__item active">-->
            <!--<img src="../images/svg/ru.svg" class="switch-lang__flag" alt="lang">-->
            <!--<span class="switch-lang__name upper">рус</span>-->
            <!--</span>-->
            <!--<div class="switch-lang__drop">-->
            <!--<form action="">-->
            <!--<button type="submit" data-lang="us" class="switch-lang__item">-->
            <!--<img src="../images/svg/flag-us.svg" class="switch-lang__flag" alt="lang">-->
            <!--<span class="switch-lang__name upper">US</span>-->
            <!--</button>-->
            <!--<button type="submit" data-lang="ua" class="switch-lang__item">-->
            <!--<img src="../images/svg/flag-ukraine.svg" class="switch-lang__flag" alt="lang">-->
            <!--<span class="switch-lang__name upper">укр</span>-->
            <!--</button>-->
            <!--</form>-->
            <!--</div>-->

            <!--</div>-->
            <nav class="header-nav">
                <a href="projects.html">Our projects</a>
                <a href="locations.html">Locations</a>
                <a href="about-us.html">About us</a>
                <a href="contact-us.html">Contact us</a>
<!--                <a href="#">Blog</a>-->
            </nav>
            <button type="button" class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>
    </div>
</header>