<div class="project-item">
    <div class="project-item__img bg-cover"
         style="background-image: url(../images/project-7.jpg)"></div>
    <div class="project-item__content bg-silver">
        <div class="logo">
            <span class="logo-main text-black">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-orange">Aparthotel </span>
                                <span>@ Chisinau, Moldova</span>
                            </span>
        </div>
        <h3 class="title-h3">Homely and comfortable apartments
            for full family travel trip</h3>
        <p class="description">A new architectural project in the city center. Its uniqueness is ensured by a spacious green backyard with an area of 540 m2, where there is an occupation for adults and children all year round.</p>
        <a href="apartments-chisinau.html" class="btn btn--lg btn-orange">Learn more</a>
        <div class="label-status label-status--red">in progress</div>
    </div>
</div>