<div class="project-item">
    <div class="project-item__img bg-cover" style="background-image: url(../images/project-8.jpg)"></div>
    <div class="project-item__content">
        <div class="logo">
            <span class="logo-main text-black">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-orange">Coworking & Apartments </span> <br>
                                <span>@ Lviv, Ukraine</span>
                            </span>
        </div>
        <h3 class="title-h3">Сoworking and offices,
            10 luxury apartments, coffee point
            and comercial spaces at one cozy place</h3>
        <p class="description">A new architectural project in the Lviv city center.
            We making nice places for work & living life style and comercial activities!</p>
        <a href="coworking-apart-lviv.html" class="btn btn--lg btn-orange">Learn more</a>
        <div class="label-status label-status--red">in progress</div>
    </div>
</div>