<div class="project-item">
    <div class="project-item__img bg-cover"
         style="background-image: url(../images/project-3.jpg)"></div>
    <div class="project-item__content bg-silver">
        <div class="logo">
            <span class="logo-main text-black">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-orange">Apartments </span>
                                <span>@ Moscow (The Loft Club), Russia</span>
                            </span>
        </div>
        <h3 class="title-h3">Loft apartment for rent and
            sale at “The Loft Club”</h3>
        <p class="description">Our lofts has a comfortable and pleasant atmosphere in a stylish complex with architecture in the spirit of the classic lofts of New York in the middle of the last century of English art blocks.</p>
        <a href="apartments-loft-moscow.html" class="btn btn--lg btn-orange">Learn more</a>
    </div>
</div>