<div class="project-item">
    <div class="project-item__img bg-cover"
         style="background-image: url(../images/project-1.jpg)"></div>
    <div class="project-item__content bg-black">
        <div class="logo">
            <!--                            <img src="../images/logo/stangher-coworking-violet.svg" alt="logo">-->
            <span class="logo-main text-white">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-violet">Coworking </span>
                                <span class="logo-text--l-grey">@ Moscow (Riverdale), Russia</span>
                            </span>
        </div>
        <h3 class="title-h3">Best replacement for
            boring and cramped offices</h3>
        <p class="description">Here you can get useful contacts, exchange professional experience, find
            excellent opportunities for cooperation, and also enjoy your work time pleasantly and
            productively.</p>
        <a href="coworking-moscow.html" class="btn btn--lg btn-violet">Learn more</a>
    </div>
</div>