<div class="project-item">
    <div class="project-item__img bg-cover"
         style="background-image: url(../images/project-2.jpg)"></div>
    <div class="project-item__content bg-silver">
        <div class="logo">
            <span class="logo-main text-black">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-orange">Apartments </span>
                                <span>@ Moscow (Riverdale), Russia</span>
                            </span>
        </div>
        <h3 class="title-h3">Stylish and comfortable
            apartments in business
            center Riverdale</h3>
        <p class="description">We offer you to stay in a comfortable loft apartment and feel at home while being away on a business trip to Moscow.</p>
        <a href="apartments-moscow.html" class="btn btn--lg btn-orange">Learn more</a>
    </div>
</div>