<div class="project-item">
    <div class="project-item__img bg-cover"
         style="background-image: url(../images/project-4.jpg)"></div>
    <div class="project-item__content bg-silver">
        <div class="logo">
            <span class="logo-main text-black">StanGher</span><br>
            <span class="logo-text">
                                <span class="text-gradient-orange">Guest House </span>
                                <span>@ Pattaya, Thailand</span>
                            </span>
        </div>
        <h3 class="title-h3">3 beautiful Guest Houses for work
            and living traveling style</h3>
        <p class="description">The area is the finest in Pattaya and very close to Ramayana waterpark and all the attractions and places of amusement.</p>
        <a href="guest-house-pattaya.html" class="btn btn--lg btn-orange">Learn more</a>
    </div>
</div>