<div class="more-info">
    <div class="more-info-wrap">
        <div class="col-icon">
            <div class="more-info__icon">
                <img src="../images/svg/email.svg" alt="mail">
            </div>
        </div>
        <div class="col-info">
            <div class="more-info__title">
                Need more information or have
                something to say or offer?
            </div>
            <div class="more-info__description">
                Contact us, we will be very happy to talk with you or
                provide useful information
            </div>
            <a href="#" class="btn btn--lg btn-success js-open-modal" data-target="contactsModal">Write us</a>
        </div>
    </div>
</div>