<div class="place-items">
    <a href="about-project-moscow.html" class="place-item overlay" style="background-image: url('../images/moscow.jpg')">
        <div class="place-info">
            <div class="place-info__city">Moscow</div>
            <div class="place-info__country">Russia</div>
            <div class="place-info__projects">3 projects</div>
        </div>
        <img src="../images/svg/moscow.svg" class="place-icon">
    </a>
    <a href="about-project-pattaya.html" class="place-item overlay" style="background-image: url('../images/pattaya.jpg')">
        <div class="place-info">
            <div class="place-info__city">Pattaya</div>
            <div class="place-info__country">Thailand</div>
            <div class="place-info__projects">2 projects</div>
        </div>
        <img src="../images/svg/pattaya.svg" class="place-icon">
    </a>
    <a href="about-project-chisinau.html" class="place-item overlay" style="background-image: url('../images/chisinau.jpg')">
        <div class="place-info">
            <div class="place-info__city">Chisinau</div>
            <div class="place-info__country">Moldova</div>
            <div class="place-info__projects">2 project</div>
        </div>
        <img src="../images/svg/chisinau.svg" class="place-icon">
    </a>
    <a href="about-project-lviv.html" class="place-item overlay" style="background-image: url('../images/lviv.jpg')">
        <div class="place-info">
            <div class="place-info__city">Lviv</div>
            <div class="place-info__country">Ukraine</div>
            <div class="place-info__projects">2 project</div>
        </div>
        <img src="../images/svg/lion.svg" class="place-icon">
    </a>
    <a href="about-project-alicante.html" class="place-item overlay" style="background-image: url('../images/alicante.jpg')">
        <div class="place-info">
            <div class="place-info__city">Alicante</div>
            <div class="place-info__country">Spain</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-red">in progress</div>
        </div>
        <img src="../images/svg/alicante.svg" class="place-icon">
    </a>

</div>