<div class="place-items">
    <a href="about-project-moscow.html" class="place-item overlay" style="background-image: url('../images/moscow.jpg')">
        <div class="place-info">
            <div class="place-info__city">Moscow</div>
            <div class="place-info__country">Russia</div>
            <div class="place-info__projects">3 projects</div>
        </div>
        <img src="../images/svg/moscow.svg" class="place-icon">
    </a>
    <a href="about-project-pattaya.html" class="place-item overlay" style="background-image: url('../images/pattaya.jpg')">
        <div class="place-info">
            <div class="place-info__city">Pattaya</div>
            <div class="place-info__country">Thailand</div>
            <div class="place-info__projects">3 projects</div>
        </div>
        <img src="../images/svg/pattaya.svg" class="place-icon">
    </a>
    <a href="about-project-chisinau.html" class="place-item overlay" style="background-image: url('../images/chisinau.jpg')">
        <div class="place-info">
            <div class="place-info__city">Chisinau</div>
            <div class="place-info__country">Moldova</div>
            <div class="place-info__projects">2 project</div>
        </div>
        <img src="../images/svg/chisinau.svg" class="place-icon">
    </a>
    <a href="about-project-alicante.html" class="place-item overlay" style="background-image: url('../images/alicante.jpg')">
        <div class="place-info">
            <div class="place-info__city">Alicante</div>
            <div class="place-info__country">Spain</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-status--red">in progress</div>
        </div>
        <img src="../images/svg/alicante.svg" class="place-icon">
    </a>
    <a href="about-project-lviv.html" class="place-item overlay" style="background-image: url('../images/lviv.jpg')">
        <div class="place-info">
            <div class="place-info__city">Lviv</div>
            <div class="place-info__country">Ukraine</div>
            <div class="place-info__projects">2 project</div>
            <div class="label-status label-status--red">in progress</div>
        </div>
        <img src="../images/svg/lion.svg" class="place-icon">
    </a>
    <a href="#" class="place-item overlay place-item--disabled" style="background-image: url('../images/alicante.jpg')">
        <div class="place-info">
            <div class="place-info__city">Kiev</div>
            <div class="place-info__country">Ukraine</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-status--green">coming soon</div>
        </div>
        <img src="../images/svg/kiev.svg" class="place-icon">
    </a>
    <a href="#" class="place-item overlay place-item--disabled" style="background-image: url('../images/kharkiv.jpg')">
        <div class="place-info">
            <div class="place-info__city">Kharkiv</div>
            <div class="place-info__country">Ukraine</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-status--green">coming soon</div>
        </div>
        <img src="../images/svg/kharkiv.svg" class="place-icon">
    </a>
    <a href="#" class="place-item overlay place-item--disabled" style="background-image: url('../images/saint-petersburg.jpg')">
        <div class="place-info">
            <div class="place-info__city">Saint Petersburg</div>
            <div class="place-info__country">Russia</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-status--green">coming soon</div>
        </div>
        <img src="../images/svg/saint-petersburg.svg" class="place-icon">
    </a>
    <a href="#" class="place-item overlay place-item--disabled" style="background-image: url('../images/san-francisco.jpg')">
        <div class="place-info">
            <div class="place-info__city">San Francisco</div>
            <div class="place-info__country">USA</div>
            <div class="place-info__projects">1 project</div>
            <div class="label-status label-status--green">coming soon</div>
        </div>
        <img src="../images/svg/san-francisco.svg" class="place-icon">
    </a>

</div>