//fonts
$gotham: 'GothamPro';


//colors main
$white: #ffffff;
$black: #282627;
$black-header: #322f31;
$grey: #989898;


//colors
$violet: #ad3e94;
$violet-2: #b02dbc;
$orange: #F48D3E;
$violet-gradient: linear-gradient(-90deg, #9d1ebb 0%, #e756bd 100%);
$orange-gradient: linear-gradient(-90deg, #f47c22 0%, #ffcd02 100%);
$text-shadow: 0 0 10px;
$shadow: 0 10px 15px 0;

// bg-colors

$black-bg: #282627;

$outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

//breakpoints

$breakpoints: (
        'es': ( max-width: 575px ),
        'xs': ( max-width: 767px ),
        'sm': ( max-width: 991px ),
        'md': ( max-width: 1199px ),
        'lg': ( min-width: 1200px )
);